.file-search input{
    width: 300px;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    background: #f1f2f4;
    line-height: 36px;
    font-size: 14px;
    padding-left: 20px ;
    color: #000;
}
#main-content table td{
    border-top: none;
}
#chonse_title{
    float: left;
    border-radius: 10px;
}
#chonse_title li a{
    color: #57C7E6;
    font-size: 16px;
    padding: 10px 20px;
}
#chonse_title li a i{
    padding: 0 10px;
    visibility: hidden;
}
#chonse_title li.active a i{
    visibility: visible;
}
#chonse_title li.active a{
    background: #57C7E6;
    color: #fff;
    border-radius: 10px;
}
.file-search{
    position: relative;
}
.file-search i{
    position: absolute;
    top: 7px;
    right: 17px;
}
.file-search i:before{
    font-size: 23px;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
#all_nav {
    background: #f5f5f5;
    padding: 10px 20px;
    font-size: 16px;
}
#all_nav ul{
    border-bottom: none;
    float: left;
}
#all_nav li:last-child a{
    border-right: 0;
}
#all_nav li a{
    color: #bbb;
    border: none;
    border-right: 1px solid #bbb;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 0;
}
#all_nav li.active a{
    background:#f5f5f5 ;
    color: #575757;

}
#all_nav li i{
    margin-right: 5px;
}
#all_nav:after{
    content: '';
    display: block;
    clear: both;
}
#all_nav div{
    float: right;
}
#all_nav div span{
    margin-left: 20px;
    color: #bbb;
}
#all_nav div span i{
    margin-right: 5px;
}
#all_nav div span.active{
    color:#575757 ;
}
#nav_content{
    margin-top: 20px;
    line-height: 40px;
    position: relative;
}
#nav_content ul{

}
#nav_content div{
    position: absolute;
    right: 0;
    top: 0;
}
#nav_content div span{
    margin-left:10px;
    cursor: pointer;
}

.crux{
    color: #bbb;
    text-decoration: underline;
    padding: 0 5px;
}
.fa-star:before{
    color: #ffde00;
}
.tr_title{
    font-weight: 900;
    color: #222222;
}
.color_red{
    color: red;
}
#only_title input,#show_all input{
    margin-right:5px;
}

#show_all table{
    table-layout: fixed;
}

.tr_title td:first-child{
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#sort,.btn-search{
    cursor: pointer;
}
.btn-search{
    color: #31b0d5;;
}