<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-hand-o-down"></i>
                        <span class="label label-primary">事件追踪</span>
                    </header>
                    <div class="panel-body" style="display: block;">
                        <ul class="timeline">
                            <li class="centering-line"></li>
                            <!-- BEGIN TIME CAT-->
                            <li class="center-timeline-cat">
                                <div class="inner">
                                    2016年3月
                                </div>
                                <!-- /.inner -->
                            </li>
                            <!-- END TIME CAT-->
                        </ul>
                        <ul class="timeline">
                            <!-- BEGIN CENTERING LINE -->
                            <li class="centering-line"></li>
                            <!-- END CENTERING LINE -->


                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawker
                                                <small>2016年3月11日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END HEADING TIMELINE -->
                                    <p>
                                        这件事情要尽快处理，涉及到的部门要追查到人，每天向我汇报情况
                                    </p>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label label-info">评论</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 25 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 3 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="填写你的反馈..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-2.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">小李子</a></strong>
                                                        好的。<br>
                                                        我会尽快去处理这件事情
                                                    </p>
                                                    <p class="text-muted reply-time">3 小时前</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-3.jpg">
                                                <div class="reply">
                                                    <p>
                                                        <strong><a class="label bg-success m-l-xs">小王</a></strong>
                                                        此事我已经转交给交通部去处理了。
                                                    </p>
                                                    <p class="text-muted reply-time">4 小时前</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->
                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                领导
                                                <small>2016年3月22日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <blockquote>
                                        上面印发下来了新的文件，请及时查收
                                        <small>by <cite title="Someone">领导A</cite></small>
                                    </blockquote>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>

                                                            <li><a class="label label-info">回复</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 254 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="填写你的反馈...."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->
                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                指派人1
                                                <small>2016年3月26日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END HEADING TIMELINE -->
                                    <h4>巴南区房屋改造工程</h4>
                                    <p>
                                        市政府印发的白皮书，注意查看。
                                    </p>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>

                                                            <li><a class="label label-info">回复</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 2 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 1 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <strong><a class="label bg-success m-l-xs">小王</a></strong> 和
                                                <strong><a class="label bg-success m-l-xs">小李</a></strong>
                                                执行
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="填写你的反馈..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-4.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">张三</a></strong>
                                                        已经查看了邮件</p>
                                                    <p class="text-muted reply-time">昨天  01:47 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->

                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawkerqqqq
                                                <small>2016年3月19日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END HEADING TIMELINE -->
                                    <p>
                                        这件事情要尽快处理，涉及到的部门要追查到人，每天向我汇报情况
                                    </p>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label label-info">评论</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 25 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 3 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="填写你的反馈..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-2.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">小李子</a></strong>
                                                        好的。<br>
                                                        我会尽快去处理这件事情
                                                    </p>
                                                    <p class="text-muted reply-time">3 小时前</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-3.jpg">
                                                <div class="reply">
                                                    <p>
                                                        <strong><a class="label bg-success m-l-xs">小王</a></strong>
                                                        此事我已经转交给交通部去处理了。
                                                    </p>
                                                    <p class="text-muted reply-time">4 小时前</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->

                            <!-- BEGIN TIME CAT-->
                            <li class="center-timeline-cat">
                                <div class="inner">
                                    2016年4月
                                </div>
                                <!-- /.inner -->
                            </li>
                            <!-- BEGIN END CAT-->

                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADINg TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                指派人1
                                                <small>2016年4月3日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END ITEm TIMELINE -->
                                    <h4>汇报工作</h4>
                                    <p>
                                        发现事情及时响应！
                                    </p>
                                    <!-- END IMAGE WRAP -->
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label label-info">回复</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 124 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 26 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="Write your comment..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <strong><a href="#fakelink"><i class="fa fa-comments"></i> 查看更多的22条评论</a></strong>
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">执行人A</a></strong>
                                                        收到，将会立即执行
                                                    </p>
                                                    <p class="text-muted reply-time">3 小时</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-2.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">111</a></strong>
                                                        收到信息反馈，转交给了教育部去处理！
                                                    </p>
                                                    <p class="text-muted reply-time">3月 18, 2014  11:45 AM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-3.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">执行人1</a></strong>
                                                        信息收到，查看邮件后会回复。
                                                    </p>
                                                    <p class="text-muted reply-time">March 16, 2014 at 01:45 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-4.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">执行人1</a></strong> 每日反馈一次报告</p>
                                                    <p class="text-muted reply-time">4 16, 2014 at 01:05 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->


                            <!-- BEGIN HIGHLIGHT TIMELINE MOMENT -->
                            <li class="item-timeline highlight text-center">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <h2 class="text-info"><i class="fa fa-flag-checkered"></i></h2>
                                    <h4>事件处理完成</h4>
                                    <p class="text-muted">2016年4月3日</p>
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END HIGHLIGHT TIMELINE MOMENT -->
                            
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <!-- END ROW  -->
    </section>
</section>
<!-- END SECTION -->