.DS_Store

application/config/database.php
application/config/mongo_db.php
application/config/theme_cfg.php
index.php
theme/*
uploads/*
ci_session/*
template_c/*
.htaccess
.project
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

application/views/upload_success.php

# IDE Files
#-------------------------
/nbproject/
.idea/*
.settings
.project
.buildpath

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/demo/