<style type="text/css">
	.sousuo{ 
		height: 40%; 
		width: 30%; 
		margin: auto; 
		position: relative; 
		top: 30%;
		font-size: 1.2em;
	}
	.go{ 
		line-height: 45px ; 
		width: 15%; 
		position: absolute; 
		z-index: 11; 
		top: 0px; 
		right: 0; 
		color: white; 
		background: #72d0eb;
		font-size: 1.4em;
		border: 1px solid silver;
   					 
		
	}
	.meeting_jj{ 
		width: 80%;
		margin: auto;
		height: 30%;
		margin-top: 15%;
		color: white;
		text-align: center;
		font-size: 1.4em;
	}
</style>
	
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
            	
                <section class="panel" style="background:url(../../img/meeting_bg.png); background-size: cover; width:86%; height:85%; margin:auto;  position: fixed;left: 12%;top: 10%; bottom: 10%;">
                	
                    <header class="panel-heading" style="background: white;">
                        <span class=""><strong><img src="../../../img/meeting.png" width="35" height="35" />视频会议</strong></span>
                        <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                           <a href="javascript:;" class="fa fa-times"></a>
                           </span>
                    </header>
                    <div class="sousuo">
                        <form>
                        	<input type="text" placeholder="输入你要进入的房间" style="width: 100%; line-height: 45px; text-indent: 1em; border: none;"/>
                        	<input type="button" value="Go" class="go"></input>
                        </form>
                                                
                    </div>
                    <div class="row meeting_jj">
                    	<div class="col-xs-4">
                    		<p>操作简单</p>
                    		<p>Simple operation</p>
                    	</div>
                    	<div class="col-xs-4">
                    		<p>操作简单</p>
                    		<p>Simple operation</p>
                    	</div>
                    	<div class="col-xs-4">
                    		<p>操作简单</p>
                    		<p>Simple operation</p>
                    	</div>
                    </div>
                </section>
                
            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->
</section>