<style type="text/css">
	.form-group{ color: #000000;}
	input{ border:none !important; text-indent: inherit !important; padding-left: 0px !important;}
	label{ font-weight: bold;!important; color: #000000;}
	#submit3{background: #72d0eb; border: none;}
</style>
	
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class=""><strong><img src="../../../img/passw.png" width="35" height="35" />修改密码</strong></span>
                        <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                           <a href="javascript:;" class="fa fa-times"></a>
                           </span>
                    </header>
                    <div class="panel-body">
                        <form id="form1" class="form-horizontal tasi-form layui-form" enctype="multipart/form-data">
                            <input type="hidden" id="id" name="id"/>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">原密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="passw" id="passw" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">新密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="passw" id="passw" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">重复新密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="passw" id="passw" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
      

                      

							
                        </form>
                        
                    </div>
                    <div class="text-center ">
                            	<button id="submit3" class="btn btn-success btn-lg col-sm-12">保存</button>
                        	</div>
                </section>
                
            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

</section>