<style type="text/css">
	.form-group{ color: #000000;}
	input{ border:none !important; text-indent: inherit !important; padding-left: 0px !important;}
	label{ font-weight: bold;!important; color: #000000;}
	#submit3{background: #72d0eb; border: none;}
</style>
	
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class=""><strong><img src="../../../img/passw.png" width="35" height="35" />修改密码</strong></span>
                        <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                           <a href="javascript:;" class="fa fa-times"></a>
                           </span>
                    </header>
                    <div class="panel-body">
                        <form id="form1" class="form-horizontal tasi-form layui-form" >
                            <input type="hidden" id="id" name="id"/>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">原密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="passw" id="old_pass" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">新密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="new_pass" id="new_pass" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-1 control-label">重复新密码：</label>
                                <div class="col-xs-9 col-sm-11">
                                    <input type="password" name="pass_again" id="repeat_new" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="form-control layui-input">
                                </div>
                            </div>
      

                      

							
                        </form>
                        
                    </div>
                    <div class="text-center ">
                            	<button id="submit" class="btn btn-success btn-lg col-sm-12">保存</button>
                        	</div>
                </section>
                
            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

</section>

<script>
    $("#submit").click(function () {
        var old = $("#old_pass").val();
        var new_pass = $("#new_pass").val();
        var pass_again = $("#repeat_new").val();

        if(new_pass == pass_again){
            $.ajax({
                url:'/common/change_psw',
                type:'POST',
                dataType : 'json',
                data :{
                    old_pass :  old,
                    new_pass : new_pass
                },
                success : function (data) {
                    if(data.res == 1){
                        layer.msg('更新成功',{time:1500});
                    }else{
                        layer.msg('更新失败',{anim:6,time:1500});
                    }
                },
                error : function () {

                }

            });
        }else{
            layer.msg("两次输入密码不一致",{anim:6,time:1500});
        }

    });
</script>