<style>
	.fa{
		font-weight: 600;
	}
	.table-inbox tr td .fa-circle{
		color: #d5d5d5;
	}
	.table-inbox tr td .fa-circle.inbox-started,.table-inbox tr td .fa-circle:hover{
		color: #ff133a;
	}
   .index_num_rec,.index_num_send{
      color: red;
   }
   .main_section{
       display: table-cell;
       width: 75%;
   }
   .main_section aside{
       display: block;
       width: 100% !important;
   }
   .receive_msg tr td:nth-child(1){
      width:5%;
   }
    .receive_msg tr td:nth-child(2){
       width:5%;
    }
    .receive_msg tr td:nth-child(3){
       width:20%;
    }
    .receive_msg tr td:nth-child(4){
       width:40%;
    }
    .send_msg tr td:nth-child(1){
       width:5%;
    }
    .send_msg tr td:nth-child(2){
       width:20%;
    }
    .send_msg tr td:nth-child(3){
       width:40%;
    }
</style>
	
<!-- BEGIN MAIN CONTENT -->
         <section id="main-content">
		 <!-- BEGIN WRAPPER  -->
            <section class="wrapper site-min-height">
               <div class="mail-box">
                  <aside class="sm-side">
				     <!-- INBOX HEADER -->
                     <div class="user-head">
                        <a href="javascript:;" class="inbox-avatar">
                        <img src="<{$avatar}>" width="64" height="60" alt="">
                        </a>
                        <div class="user-name">
                           <h5><a href="#"><{$name}></a></h5>
                        </div>
                        <!--<a href="javascript:;" class="mail-dropdown pull-right">
                        <i class="fa fa-chevron-down"></i>
                        </a>-->
                     </div>
					 <!-- INBOX HEADER -->
					 <!-- INBOX BODY -->
                     <div class="inbox-body">
                        <a class="btn btn-compose" href="/common/show_write_email" data-toggle="modal">
                        <img src="../../img/write_email.png" width="30" />写邮件
                        </a>
                        
                     </div>
					 <!-- INBOX HEADER -->
					 <!-- INBOX NAV -->
                     <ul class="inbox-nav inbox-divider msg_nav">
                        <li class="active">
                           <a href="javascript:void(0)" name="receive_msg"><i class="fa fa-inbox"></i> 收件箱 <span class="label label-danger pull-right rec_num"></span></a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" name="send_msg"><i class="fa fa-envelope-o"></i> 发件箱</a>
                        </li>
                        <li>
                           <a href="javascript:void(0)" name="dustbin"><i class=" fa fa-bullhorn"></i> 指令下达<span class="label label-info pull-right notice_num"></span></a>
                        </li>
                     </ul>                  
                  </aside>
				  <!-- INBOX MAIL CONTAINER -->
                  <div class="main_section">
                     <aside class="lg-side" id="receive_msg">
                        <div class="inbox-head">
                           <h3>收件箱</h3>
                           <form class="pull-right position" action="#">
                              <div class="input-append">
                                 <input type="text" placeholder="搜索你的邮件" class="sr-input
                                 receive_searchInput">
                                 <button type="button" class="btn sr-btn"><i class="fa fa-search receive_search"></i></button>
                              </div>
                           </form>
                        </div>
                        <div class="inbox-body" style="height: 800px;">
                           <div class="mail-option">
                              <div class="chk-all">
                                 <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                 <div class="btn-group">
                                    <a class="btn mini all" href="#" data-toggle="dropdown">
                                       <span class="email_content">全部</span>
                                       <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu hasRead email_type">
                                       <li><a href="javascript:void(0)">全部</a></li>
                                       <li><a href="javascript:void(0)">已读</a></li>
                                       <li><a href="javascript:void(0)">未读</a></li>
                                    </ul>
                                   <!-- <select name="" id="">
                                       <option value="0">全部</option>
                                       <option value="1">已读</option>
                                       <option value="2">未读</option>
                                    </select>-->
                                 </div>
                              </div>
                              <div class="btn-group">
                                 <a class="btn mini " href="javascript:void(0)" onclick="window.refresh();"data-toggle="dropdown" title="刷新">
                                    <i class=" fa fa-refresh "></i>
                                 </a>
                              </div>
                              <ul class="unstyled inbox-pagination">
                                 <li>页数<span class="index_num_rec">1</span>/<span class="page_num_rec"></span></li>
                                 <li>
                                    <a href="javascript:get_prev_page('res')" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                 </li>
                                 <li>
                                    <a href="javascript:get_next_page('res')" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                                 </li>
                              </ul>
                           </div>
                           <table class="table table-inbox table-hover receive_msg">
                              <tbody>
                                 <!--<tr class="unread">
                                    <td class="inbox-small-cells">
                                       <input type="checkbox" class="mail-checkbox">
                                    </td>
                                    <td class="inbox-small-cells hidden-phone"><i class="fa fa-circle"></i></td>
                                    <td class="view-message  dont-show">发件人名字</td>
                                    <td class="view-message ">主题主题主题</td>
                                    <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                    <td class="view-message  text-right">2016-12-8&nbsp;15:38</td>
                                 </tr>-->
                              </tbody>
                           </table>
                        </div>
                     </aside>
                     <!-- INBOX MAIL CONTAINER -->


                     <!-- 发件箱 -->
                     <aside class="lg-side" id="send_msg" style="display: none;">
                        <div class="inbox-head">
                           <h3>发件箱</h3>
                           <form class="pull-right position" action="#">
                              <div class="input-append">
                                 <input type="text" placeholder="搜索你的邮件" class="sr-input send_searchInput">
                                 <button type="button" class="btn sr-btn"><i class="fa fa-search send_search"></i></button>
                              </div>
                           </form>
                        </div>
                        <div class="inbox-body" style="height: 800px;">
                           <div class="mail-option">
                              <div class="chk-all">
                                 <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                 <div class="btn-group">
                                    <a class="btn mini all" href="#" data-toggle="dropdown">
                                       全选
                                       <!--<i class="fa fa-angle-down "></i>-->
                                    </a>
                                   <!-- <ul class="dropdown-menu">
                                       <li><a href="#"> 无</a></li>
                                       <li><a href="#"> 已读</a></li>
                                       <li><a href="#">未读</a></li>
                                    </ul>-->
                                 </div>
                              </div>
                              <div class="btn-group">
                                 <a class="btn mini " href="javascript:void(0)" onclick="window.refresh();"data-toggle="dropdown" title="刷新">
                                    <i class=" fa fa-refresh "></i>
                                 </a>
                              </div>
                              <ul class="unstyled inbox-pagination">
                                 <li>页数<span class="index_num_send">1</span>/<span class="page_num_send"></span></li>
                                 <li>
                                    <a href="javascript:get_prev_page('sed')" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                 </li>
                                 <li>
                                    <a href="javascript:get_next_page('sed')" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                                 </li>
                              </ul>
                           </div>
                           <table class="table table-inbox table-hover send_msg">
                              <tbody>
                                 <!-- <tr>
                                    <td class="inbox-small-cells"><input type="checkbox" class="mail-checkbox"></td>
                                    <td class="view-message  dont-show">发件人名字</td>
                                    <td class="view-message ">主题主题主题</td>
                                    <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                    <td class="view-message  text-right">2016-12-8&nbsp;15:38</td>
                                 </tr> -->
                              </tbody>
                           </table>
                        </div>
                     </aside>
                     <!-- 发件箱 end -->
                     
                     
                     <!-- 指令下达 -->
                     <aside class="lg-side" id="dustbin" style="display: none;">
                        <div class="inbox-head">
                           <h3>指令下达</h3>
                           <form class="pull-right position" action="#">
                              <div class="input-append">
                                 <input type="text" placeholder="搜索你的邮件" class="sr-input notice_searchInput">
                                 <button type="button" class="btn sr-btn"><i class="fa fa-search notice_search"></i></button>
                              </div>
                           </form>
                        </div>
                        <div class="inbox-body" style="height: 800px;">
                           <div class="mail-option">
                              <div class="chk-all">
                                 <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                 <div class="btn-group">
                                    <a class="btn mini all" href="#" data-toggle="dropdown">
                                       <span class="email_content">全部</span>
                                       <i class="fa fa-angle-down "></i>
                                    </a>
                                   <ul class="dropdown-menu m-notice-type">
                                       <li><a href="#">指令下达</a></li>
                                       <li><a href="#">指令发送</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="btn-group">
                                 <a class="btn mini " href="javascript:void(0)" onclick="window.refresh();" data-toggle="dropdown" title="刷新">
                                    <i class=" fa fa-refresh "></i>
                                 </a>
                              </div>
                              <ul class="unstyled inbox-pagination">
                                 <li>页数<span class="m-dustbin-pageIndex">1</span>/<span class="m-dustbin-pageTotal"></span></li>
                                 <li>
                                    <a href="javascript:get_prev_page('notice')" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                 </li>
                                 <li>
                                    <a href="javascript:get_next_page('notice')" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                                 </li>
                              </ul>
                           </div>
                           <table class="table table-inbox table-hover dustbin">
                              <tbody>
                                
                              </tbody>
                           </table>
                        </div>
                     </aside>
                     <!-- 指令下达 end -->
                  </div>
               </div>
            </section>
			<!-- END WRAPPER  -->
         </section>
<script language='javascript' src='/js/public.js'></script>
<script>
   const PAGE_NUM_RE = 15; //每页显示数目

   $(function(){

      get_unread_email();   //获取未读邮件数目
      get_unread_notice();  //获取未读指令数目
      receive_message(0,'','all')
      is_send();

      //左侧邮件列表导航栏点击函数

      $('.msg_nav li a').click(function(){
         $('.main_section aside').hide();
         var id = $(this).attr('name');
         $('#'+id).show();
         $(this).parent().addClass('active').siblings('.active').removeClass('active');
         switch(id){
            case 'receive_msg':
                 receive_message(0,'','all');break;
            case 'send_msg':
                 get_all_send(0,'');break;
            case 'dustbin':
                 get_all_notice(0, '', 'rec');
         }
      })

      //收件箱搜索
      $('.receive_search').click(function(){
        var key_word =  $(this).parent().siblings('input').val();
         if(key_word){
            receive_message(0,key_word,'all');
         }else{
            layer.msg('搜索词不能为空');
         }
      })

      //发件箱搜素
      $('.send_search').click(function(){
         var key_word =  $(this).parent().siblings('input').val();
         if(key_word){
            get_all_send(0,key_word);
         }else{
            layer.msg('搜索词不能为空');
         }
      })

      //指令下达搜索
      $('.notice_search').click(function(){
          var key =  $(this).parent().siblings('input').val();
          if (key){
              get_all_notice(0, key, 'rec');
          }else{
            layer.msg("搜索词不能为空");
          }
      })

      //邮件状态点击事件
      $('.email_type li a').click(function(){
         var val = $(this).html();
         $('.email_content').html(val);
         switch(val){
            case '全部':
               receive_message(0,'','all');break;
            case '已读':
               receive_message(0,'',1);break;
            case '未读':
               receive_message(0,'',0);break;
         }
      })

      //指令系统类别筛选
      $('.m-notice-type').delegate('a' , 'click', function(){
          var key = $('.notice_searchInput').val();
          var type = '';
          if( $(this).html() == "指令发送"){
              type = 'send';
          }else{
              type = 'rec';
          }

          get_all_notice(0, key, type);
      })
   })

   //判断是否是收件箱返回
   function is_send(){
      var num = window.location.href.indexOf('?from=send');
      if(num != -1){
         $('.main_section aside').hide();
         $('#send_msg').show();
         get_all_send(0,'');
         $('a[name="send_msg"]').parent().addClass('active').siblings('.active').removeClass('active');
      }
   }

   //获取未读邮件
   function get_unread_email(){
      $.ajax({
         url:'/common/get_unread_num',
         type:"get",
         dataType:'json',
         success:function(data){
            if(data.unread_num){
               $('.rec_num').html(data.unread_num);
            }
         }
      })
   }

   //获取未下达指令条数
   function get_unread_notice(){
      $.ajax({
          url: '/common/get_unread_notice_num',
          type: "get",
          dataType: "json",
          success: function(data){
              if( data.unread_num){
                $('.notice_num').html(data.unread_num);
              }
          }
      })
   }

   /*
   * 收件箱
   * page：起始条目
   * key：搜索关键字
   * way='all' => 全部邮件
   * way='1' => 已读邮件
   * way='2' => 未读邮件
   * */
   function receive_message(page,key,way){
      var load1 = layer.load(3);
      $('.index_num_rec').html(1);
      $('.page_num_rec').html(1);
      if(!key){
         key = '';
      }
      $.ajax({
         url:'/common/get_all_rec',
         type:'POST',
         data:{
            search:key,
            length:PAGE_NUM_RE,
            start:page,
            state:way
         },
         dataType:'json',
         success:function(data){
//            console.log(data);
            if(data.emails.length){
               $('.receive_msg tbody').html('');
               var page_num = Math.ceil(data.num/PAGE_NUM_RE);
               $('.page_num_rec').html(page_num);
               var str = '';
               var len = data.emails.length;
               for(var i=0; i<len ; i++){
                  var obj = data.emails[i];  //获取目标元素
                  str += '<tr>';
                  str += '<td class="inbox-small-cells">'
                  str += '<input type="checkbox" class="mail-checkbox"></td>';
                  if(obj.state == '1'){
                     str += '<td class="inbox-small-cells hidden-phone"><i class="fa fa-circle"></i></td>'
                  }else{
                     str += '<td class="inbox-small-cells hidden-phone"><i class="fa fa-circle inbox-started"></i></td>'
                  }
                  switch (obj.priority_level){
                     case "1":
                        str += '<td class="view-message  dont-show">'+obj.sender_name+'<span class="label label-primary pull-right">一般</span></td>';
                        break;
                     case "2":
                        str += '<td class="view-message  dont-show">'+obj.sender_name+'<span class="label label-danger pull-right">高优先级</span></td>';
                        break;
                  }
                  str += '<td class="view-message "><a href="rec_email_detail?id='+obj.id+'">'+obj.title+'</a></td>';
                  if(obj.has_att){
                     str += '<td class="view-message  inbox-small-cells"><a class="fa fa-paperclip" href="/common/att_download?eid='+obj.eid+'&id='+obj.id+'"></a></td>'
                  }else{
                     str += '<td class="view-message  inbox-small-cells"></td>'
                  }
                  str += '<td class="view-message  text-right">'+timeToDate(obj.time*1000)+'</td>';
                  str += '</tr>';
               }
               $('.receive_msg tbody').append(str);
               layer.close(load1);
            }else{
               $('.receive_msg tbody').html('<tr><td style="text-align: center;">暂无此类消息</td></tr>');
               layer.close(load1);
            }
         }
      })
   }

   //发件箱
   function get_all_send(page,key){
    var load2 = layer.load(3);
      $('.index_num_send').html(1);
      $('.page_num_send').html(1);
      if(!key){
         key = '';
      }
      $.ajax({
         url:'/common/get_all_sends',
         type:"POST",
         data:{
           length:PAGE_NUM_RE,
            start:page,
            search:key
         },
         dataType:'json',
         success:function(data){
            if(data.emails.length){
               $('.send_msg tbody').html('');
               var page_num = Math.ceil(data.num/PAGE_NUM_RE);
               $('.page_num_send').html(page_num);
               var str = '';
               var len = data.emails.length;
               for(var i=0; i<len ; i++){
                  var obj = data.emails[i];  //获取目标元素
                  str += '<tr>';
                  str += '<td class="inbox-small-cells">'
                  str += '<input type="checkbox" class="mail-checkbox"></td>';
                  switch (obj.priority_level){
                     case "1":
                        str += '<td class="view-message  dont-show"><{$name}><span class="label label-primary pull-right">一般</span></td>';
                        break;
                     case "2":
                        str += '<td class="view-message  dont-show"><{$name}><span class="label label-danger pull-right">高优先级</span></td>';
                        break;
                  }
                  str += '<td class="view-message "><a href="/common/send_email_detail?id='+obj.id+'">'+obj.title+'</a></td>';
                  if(obj.has_att){
                     str += '<td class="view-message  inbox-small-cells"><a class="fa fa-paperclip" href="/common/att_download?eid='+obj.eid+'&id='+obj.id+'"></a></td>'
                  }else{
                     str += '<td class="view-message  inbox-small-cells"></td>'
                  }
                  str += '<td class="view-message  text-right">'+timeToDate(obj.time*1000)+'</td>';
                  str += '</tr>';
               }
               $('.send_msg tbody').append(str);
               layer.close(load2);
            }else{
               $('.send_msg tbody').html('<tr><td style="text-align: center">暂无此类消息</td></tr>');
               layer.close(load2);
            }
         }
      })
   }

   //指令下达
   function get_all_notice(page, key, type){
      var load = layer.load(3);
      $('.m-dustbin-pageIndex').html(1);
      $('.m-dustbin-pageTotal').html(1);

      if( key === undefined || key === "" || key === null){
        key = '';
      }

      var url = '';
      if( type == 'rec'){
        url = '/common/get_rec_notice';
      }else if( type == 'send'){
        url = '/designate/get_send_notice';
      }

      $.ajax({
          url: url,
          type: "post",
          data:{
            length: PAGE_NUM_RE,
            start: page,
            search: key,
            state: 'all',
          },
          dataType: "json",
          success: function ( data ){
              if( data.emails.length){
                $('.dustbin tbody').html("");  //清空指令内容
                var notice_num = Math.ceil(data.num/PAGE_NUM_RE);
                $('.m-dustbin-pageTotal').html(notice_num);

                var str = '';
                for ( var i = 0, len = data.emails.length; i < len; i++){
                    var obj = data.emails[i];  //获取目标元素
                    str += '<tr>';
                    str += '<td class="inbox-small-cells">'
                    str += '<input type="checkbox" class="mail-checkbox"></td>';
                    if(obj.state == '1'){
                       str += '<td class="inbox-small-cells hidden-phone"><i class="fa fa-circle"></i></td>'
                    }else{
                       str += '<td class="inbox-small-cells hidden-phone"><i class="fa fa-circle inbox-started"></i></td>'
                    }
                    switch (obj.priority_level){
                       case "1":
                          str += '<td class="view-message  dont-show">'+obj.sender_name+'<span class="label label-primary pull-right">一般</span></td>';
                          break;
                       case "2":
                          str += '<td class="view-message  dont-show">'+obj.sender_name+'<span class="label label-danger pull-right">高优先级</span></td>';
                          break;
                    }
                    str += '<td class="view-message "><a href="/common/show_notice_detail?id='+obj.id+'">'+obj.title+'</a></td>';
                    if(obj.has_att){
                       str += '<td class="view-message  inbox-small-cells"><span class="fa fa-paperclip"></span></td>'
                    }else{
                       str += '<td class="view-message  inbox-small-cells"></td>'
                    }
                    str += '<td class="view-message  text-right">'+timeToDate(obj.time*1000)+'</td>';
                    str += '</tr>';
                }
                $('.dustbin tbody').append(str);

              }else{
                $('.dustbin tbody').html('<tr><td style="text-align: center">暂无此类消息</td></tr>');
              }
              layer.close(load);
          }
      })
   }


   //上一页
   function get_prev_page(str){

      if(str == 'res'){
         var index = $('.index_num_rec').html();
         if(index == 1){
            layer.msg('当前为第一页');
            return;
         }else{
            var type = $('.email_content').html();
            var key = $('.receive_searchInput').val();
            switch(type){
               case '全部':
                  receive_message((index-2)*PAGE_NUM_RE, key,'all');break;
               case '已读':
                  receive_message((index-2)*PAGE_NUM_RE, key,1);break;
               case '未读':
                  receive_message((index-2)*PAGE_NUM_RE, key,0);break;
            }
            $('.index_num_rec').html(index*1-1);
            return;
         }
      }

      if(str == 'sed'){
         var index = $('.index_num_send').html();
         var key = $('.send_searchInput').val();
         if(index == 1){
            layer.msg('当前为第一页');
            return;
         }else{

            get_all_send((index-2)*PAGE_NUM_RE,key,'all');
            $('.index_num_send').html(index*1-1);
            return;
         }
      }

      if(str == 'notice'){
         var index = $('.m-dustbin-pageIndex').html();
         if( index == 1){
            layer.msg("当前为第一页");
            return;
         }else{
            var key = $('.notice_searchInput').val();
            get_all_notice((index-2)*PAGE_NUM_RE, key, 'rec');
            $('.m-dustbin-pageIndex').html(index*1 - 1);
         }
      }
   }
   //下一页
   function get_next_page(str){
      if(str == 'res'){
         var index = $('.index_num_rec').html();
         var total = $('.page_num_rec').html();
         if(index+1>total){
            layer.msg('当前为最后一页');
            return;
         }else{
            var type = $('.email_content').html();
            var key = $('.receive_searchInput').val();
            switch(type){
               case '全部':
                  receive_message(index*PAGE_NUM_RE, key, 'all');break;
               case '已读':
                  receive_message(index*PAGE_NUM_RE, key, 1);break;
               case '未读':
                  receive_message(index*PAGE_NUM_RE, key, 0);break;
            }
            $('.index_num_rec').html(index*1+1);
            return ;
         }
      }

      if(str == 'sed'){
         var index = $('.index_num_send').html();
         var total = $('.page_num_send').html();
         if(index+1>total){
            layer.msg('当前为最后一页');
            return;
         }else{
            var key = $('.send_searchInput').val();
            get_all_send(index*PAGE_NUM_RE, key,'all');
            $('.index_num_send').html(index*1+1);
            return ;
         }
      }

      if(str == 'notice'){
         var index = $('.m-dustbin-pageIndex').html();
         var total = $('.m-dustbin-pageTotal').html();
         if( index == total){
            layer.msg("当前为最后一页");
            return;
         }else{
            var key = $('.notice_searchInput').val();
            get_all_notice( index*PAGE_NUM_RE, key, 'rec');
            $('.m-dustbin-pageIndex').html(index*1 + 1);
         }
      }
   }
</script>
