<!-- BEGIN FOOTER -->
<footer class="site-footer">
    <div class="text-center">
        2013 &copy; Olive Admin by
        <a href="" target="_blank">
            Olive Enterprise
        </a>
        <a href="http://www.mycodes.net" class="go-top">
            <i class="fa fa-angle-up">
            </i>
        </a>
    </div>
</footer>
<!-- END  FOOTER -->
<!-- BEGIN JS -->
<script src="/js/bootstrap.min.js" ></script><!-- BOOTSTRAP JS -->
<script src="/js/jquery.dcjqaccordion.2.7.js"></script><!-- ACCORDIN JS -->
<script src="/js/jquery.scrollTo.min.js" ></script><!-- SCROLLTO JS -->
<script src="/js/jquery.nicescroll.js" ></script><!-- NICESCROLL JS -->
<script src="/js/respond.min.js" ></script><!-- RESPOND JS -->
<script src="/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="/js/sparkline-chart.js"></script><!-- SPARKLINE CHART JS -->
<script src="/js/common-scripts.js"></script><!-- BASIC COMMON JS -->
<script src="/js/count.js"></script><!-- COUNT JS -->

<!--Calendar-->
<script src="/js/calendar/clndr.js"></script><!-- CALENDER JS -->
<script src="/js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
<script src="/js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
<script src="/js/underscore-min.js"></script><!-- UNDERSCORE JS -->
<script src="/assets/jquery-knob/js/jquery.knob.js" ></script><!-- JQUERY KNOB JS -->
<script >
    //knob
    $(".knob").knob();

</script>
<!-- END JS -->
</body>
</html>