<!-- BEGIN FOOTER -->
<footer class="site-footer">
    <div class="text-center">
        2016-2017 &copy;重庆·渝北
        <a href="" target="_blank">
            网信工作管理平台
        </a>
        <a href="/" class="go-top">
            <i class="fa fa-angle-up">
            </i>
        </a>
        问题反馈邮箱:14833538@qq.com &nbsp;
        ipv6网络支持电话:18883283028
    </div>
</footer>
<!-- END  FOOTER -->
<script src="/js/notify.js"></script>
<!-- BEGIN JS -->
<script src="/js/bootstrap.min.js" ></script><!-- BOOTSTRAP JS -->
<script src="/js/jquery.dcjqaccordion.2.7.js"></script><!-- ACCORDIN JS -->
<script src="/js/jquery.scrollTo.min.js" ></script><!-- SCROLLTO JS -->
<script src="/js/jquery.nicescroll.js" ></script><!-- NICESCROLL JS -->
<script src="/js/respond.min.js" ></script><!-- RESPOND JS -->
<script src="/js/jquery.sparkline.js"></script><!-- SPARKLINE JS -->
<script src="/js/sparkline-chart.js"></script><!-- SPARKLINE CHART JS -->
<script src="/js/common-scripts.js"></script><!-- BASIC COMMON JS -->

<!--Calendar-->
<script src="/js/calendar/clndr.js"></script><!-- CALENDER JS -->
<script src="/js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
<script src="/js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
<script src="/js/underscore-min.js"></script><!-- UNDERSCORE JS -->
<script src="/assets/jquery-knob/js/jquery.knob.js" ></script><!-- JQUERY KNOB JS -->
<script >
    //knob
    $(".knob").knob();

</script>
<!-- END JS -->
</body>
</html>