
      <!-- BEGIN MAIN CONTENT -->
      <link href="/css/tasks.css" rel="stylesheet"><!-- TASK CSS-->
      
      <section id="main-content">
	  <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
		  <!-- BEGIN ROW  -->
          <div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count">
                    0
                  </h1>
                  <p>
                    未完成事件
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-wrench red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2">
                    0
                  </h1>
                  <p>
                    正在处理事件
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-check-square yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3">
                    0
                  </h1>
                  <p>
                    已完成事件
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-bookmark-o purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">
                    0
                  </h1>
                  <p>
                    总任务数
                  </p>
                </div>
              </section>
            </div>
          </div>
		   <!-- END ROW  -->
          <div class="col-md-6">
          <!-- START PANEL -->
          <section class="panel tasks-widget">
            <header class="panel-heading">
              任务列表
            </header>
            <div class="panel-body">
              <div class="task-content">
                <ul class="task-list">
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            中央发布白皮书文件
                          </span>
                          <span class="badge badge-sm label-success">
                            2 天前
                          </span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            巴南房屋改造计划
                          </span>
                          <span class="badge badge-sm label-danger">
                            已完成
                          </span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            中午12点会议室开会
                          </span>
                          <span class="badge badge-sm label-warning">
                            正在执行
                          </span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            工作周总结
                          </span>
                          <span class="badge badge-sm label-primary">
                            3 天前
                          </span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            区政府下发学习手册
                          </span>
                          <span class="badge badge-sm label-inverse">
                            现在
                          </span>
                      <div class="pull-right">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="task-checkbox">
                      <input type="checkbox" class="list-child" value="">
                    </div>
                    <div class="task-title">
                          <span class="task-title-sp">
                            上传工作报告
                          </span>
                          <span class="badge badge-sm label-success">
                            2 天前
                          </span>
                      <div class="pull-right hidden-phone">
                        <button class="btn btn-success btn-xs">
                          <i class=" fa fa-check">
                          </i>
                        </button>
                        <button class="btn btn-primary btn-xs">
                          <i class="fa fa-pencil">
                          </i>
                        </button>
                        <button class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o ">
                          </i>
                        </button>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <div class=" add-task-row">
                <a class="btn btn-success btn-sm pull-left" href="#">
                  添加新任务
                </a>
                <a class="btn btn-default btn-sm pull-right" href="#">
                  查看所有任务
                </a>
              </div>
            </div>
          </section>
          <!-- END PANEL -->
            </div>

         <!-- <div id="morris">
		     &lt;!&ndash; BEGIN ROW  &ndash;&gt;
            <div class="row">
              <div class="col-lg-4">
                <div class="panel terques-chart">
                  <div class="panel-body chart-texture">
                    <div class="chart">
                      <div class="heading">
                        <span>
                          Friday
                        </span>
                        <strong>
                          $ 657,00 | 55%
                        </strong>
                      </div>
                      <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[564,123,890,564,455,200,135,667,333,526,996]">
                      </div>
                    </div>
                  </div>
                  <div class="chart-tittle">
                    <span class="title">
                      New Earning
                    </span>
                    <span class="value">
                      <a href="#" class="active">
                        Market
                      </a>
                      |
                      <a href="#">
                        Local
                      </a>
                      |
                      <a href="#">
                        Online
                      </a>
                    </span>
                  </div>
                </div>
                <div class="panel green-chart">
                  <div class="panel-body">
                    <div class="chart">
                      <div class="heading">
                        <span>
                          June
                        </span>
                        <strong>
                          23 Days | 65%
                        </strong>
                      </div>
                      <div id="designchart">
                      </div>
                    </div>
                  </div>
                  <div class="chart-tittle">
                    <span class="title">
                      Total Earn
                    </span>
                    <span class="value">
                      $, 50,23,561
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="tiles facebook-tile text-center">
                  <i class="fa fa-facebook icon-lg-size">
                  </i>
                  <h4>
                    <a href="#fakelink">
                      10K likes
                    </a>
                  </h4>
                </div>
                &lt;!&ndash; /.tiles .facebook-tile &ndash;&gt;
                <div class="tiles twitter-tile text-center">
                  <i class="fa fa-twitter icon-lg-size">
                  </i>
                  <h4>
                    <a href="#fakelink">
                      2K followers
                    </a>
                  </h4>
                </div>
                &lt;!&ndash; /.tiles .twitter-tile &ndash;&gt;
              </div>
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Profit(USD)
                  </header>
                  <div class="panel-body">
                    <div id="hero-area" class="graph">
                    </div>
                  </div>
                </section>
              </div>
            </div>
			 &lt;!&ndash; END ROW  &ndash;&gt;
          </div>-->
		   <!-- BEGIN ROW  -->
          <div class="row">
            <div class="col-lg-6">
              <section class="panel">
                <div class="panel-body">
                  <a href="#" class="task-thumb">
                    <img src="/img/avatar1.jpg" alt="">
                  </a>
                  <div class="task-thumb-details">
                    <h1>
                      <a href="#">
                        登录日志
                      </a>
                    </h1>
                    <p>
                      最新5条记录
                    </p>
                  </div>
                </div>
                <table class="table table-hover personal-task">
                  <tbody>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        2001:da8:c800:1005::3
                      </td>
                      <td>
                        <span class="badge bg-important">
                          2016-10-28 12:12:21
                        </span>
                      </td>
                      <td>
                        <div id="work-progress1">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        2
                      </td>
                      <td>
                        2001:da8:c800:1005::3
                      </td>
                      <td>
                        <span class="badge bg-important">
                          2016-10-27 15:32:22
                        </span>
                      </td>
                      <td>
                        <div id="work-progress2">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        3
                      </td>
                      <td>
                        2001:da8:c800:10de::2
                      </td>
                      <td>
                        <span class="badge bg-important">
                          2016-10-27 08:12:21
                        </span>
                      </td>
                      <td>
                        <div id="work-progress3">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        4
                      </td>
                      <td>
                        2001:da8:c800:10ee::3
                      </td>
                      <td>
                        <span class="badge bg-important">
                          2016-10-27 12:08:23
                        </span>
                      </td>
                      <td>
                        <div id="work-progress4">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        5
                      </td>
                      <td>
                        2001:da8:c800:1005::3
                      </td>
                      <td>
                        <span class="badge bg-important">
                          2016-10-26 08:12:21
                        </span>
                      </td>
                      <td>
                        <div id="work-progress5">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>

          </div>
		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
        </section>
		<!-- END WRAPPER  -->
      </section>
      <!-- END MAIN CONTENT -->

      <script src="/assets/morris.js-0.4.3/raphael-min.js" ></script><!-- MORRIS  JS -->





