<style type="text/css">
	.zhipai{background: url(../../img/zp.png) no-repeat; display: block; width: 119px; height: 34px; text-align: center; line-height: 34px; font-size: 16px; color: white; margin-bottom: 10px;}
	.chuli{background: url(../../img/cl.png) no-repeat; display: block; width: 119px; height: 34px; text-align: center; line-height: 34px; font-size: 16px; color: white; margin-bottom: 10px;}
	.tq{ background: #72d0eb; border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: center;}
	.tq span{ font-size: 1.4em; color: white; line-height: 88px;}
	.tq span b{ font-size: 3.4em; font-weight: normal;}
	.tq span sup{ font-size: 2.0em;}
	.tq p{ font-size: 1.4em;  color: white; margin: 0px;}
	.tq1{ background: #FFFFFF; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; text-align: center;}
	.tq1 span{ font-size: 1.4em; color: #72d0eb; line-height: 88px;}
	.tq1 span b{ font-size: 3.4em; font-weight: normal;}
	.tq1 p{ font-size: 1.4em;  color: #72d0eb; margin: 0px;}
	.xx{ background: url(../../img/index_xx.png) no-repeat -2px -5px;}
	.xxt{ font-size: 2.0em; color: white;}
    .demo-lx{text-align:center;text-decoration: blink}
    @media only screen and (min-width: 768px) {
      #msg tr td a{
        width:220px;
      }
    }
    @media only screen and (max-width: 375px) {
      #msg tr td a{
        width:50px;
      }
    }
    @media only screen and (max-width: 768px) {
      #msg tr td a{
        width:150px;
      }
    }

    #msg tr td a{
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: red;
    }
</style>
      <!-- BEGIN MAIN CONTENT -->
      <link href="/css/tasks.css" rel="stylesheet"><!-- TASK CSS-->
<script language="javascript" src="/js/public.js"></script>
      
      <section id="main-content">
	  <!-- BEGIN WRAPPER  -->
        <section class="wrapper site-min-height">
		  <!-- BEGIN ROW  -->
		  	<div class="zhipai js-zhipai">指派任务数</div>
          <div class="row state-overview js-zhipai">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count">
                    0
                  </h1>
                  <p>
                    未查看信息数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-wrench red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2">
                    0
                  </h1>
                  <p>
                    已指派事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-check-square yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3">
                    0
                  </h1>
                  <p>
                    未审核事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-bookmark-o purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">
                    0
                  </h1>
                  <p>
                    已完成事件数
                  </p>
                </div>
              </section>
            </div>
          </div>
		   <!-- END ROW  -->
		   <!--处理工作数 -->
		   <div class="chuli js-chuli">处理任务数</div>
          <div class="row state-overview js-chuli">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count">
                    0
                  </h1>
                  <p>
                    未处理事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-wrench red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2">
                    0
                  </h1>
                  <p>
                    正在处理事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-check-square yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3">
                    0
                  </h1>
                  <p>
                    已完成事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-bookmark-o purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">
                    0
                  </h1>
                  <p>
                    总任务数
                  </p>
                </div>
              </section>
            </div>
          </div>
		   <!--处理工作数-->
		   <div class="row">
          <div class="col-md-6">
          <!-- START PANEL -->
          <section class="panel">
                <div class="panel-body xx">
                  <a href="#" class="task-thumb xxt" >
                    5
                  </a>
                  <div class="task-thumb-details">
                    <h1>
                      <a href="#">
                        最新消息
                      </a>
                    </h1>
                    <p>
                      最新5条消息记录
                    </p>
                  </div>
                </div>
                <table class="table table-hover personal-task">
                  <tbody id="msg">
                    <tr>
                      <td>1</td>
                      <td>类型：指派</td>
                      <td><a href="javascript:void(0)">标题一</a></td>
                      <td><span class="badge bg-important">2016-12-10 10:30:15</span></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </section>
          <!-- END PANEL -->
            </div>

            <div class="col-lg-6">
              <section class="panel">
                <div class="panel-body">
                  <a href="#" class="task-thumb">
                    <img src="<{$avatar}>" alt="">
                  </a>
                  <div class="task-thumb-details">
                    <h1>
                      <a href="#">
                        登录日志
                      </a>
                    </h1>
                    <p>
                      最新5条记录
                    </p>
                  </div>
                </div>
                <table class="table table-hover personal-task">
                  <tbody>
                    <{foreach $login as $item}>
                    <tr>
                      <td>
                        <{$item@iteration}>
                      </td>
                      <td>
                        <{$item.ip}>
                      </td>
                      <td>
                        <span class="badge bg-important">
                          <{$item.time}>
                        </span>
                      </td>
                    </tr>
                    <{/foreach}>
                  </tbody>
                </table>
              </section>
            </div>

          </div>
		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
        </section>
		<!-- END WRAPPER  -->
      </section>
      <!-- END MAIN CONTENT -->

<script src="/js/count.js"></script>
      <script src="/assets/morris.js-0.4.3/raphael-min.js" ></script><!-- MORRIS  JS -->
<script>
  //get_all_msg();
  var message = {   //title闪烁
    time: 0,
    title: document.title,
    timer: null,
    // 显示新消息提示
    show: function () {
      var title = message.title.replace("【　　　】", "").replace("【新消息】", "");
      // 定时器，设置消息切换频率闪烁效果就此产生
      message.timer = setTimeout(function () {
        message.time++;
        message.show();
        if (message.time % 2 == 0) {
          document.title = "【新消息!!】" + title
        }
        else {
          document.title = "【　　　】" + title
        };
      }, 600);
      return [message.timer, message.title];
    },
    // 取消新消息提示
    clear: function () {
      clearTimeout(message.timer);
      document.title = message.title;
    }
  };
  /*window.onblur = function(){
    //message.show();
  }
  window.onfocus = function(){
    message.clear();
  }*/
 //页面加载时绑定点击事件，单击取消闪烁提示
  function get_msg() {
    $.ajax({
      url:'/welcome/get_new_msg',
      type :'get',
      dataType:'json',
      success:function(data){
        //message.show();
        if(data.res == "new_unhandle"){
          message.show();
          layer.confirm("您有新的待处理任务获得！",{
              btn:['开始处理','取消报警'],anim:6,title:'通知'
          },function () {
              location.href = '/handler/wait_to_handle';
          },function (index) {
              layer.close(index);
              message.clear();
              clearInterval(get_msg_timer);
          });
          var au = document.createElement("audio");
          au.preload="auto";
          au.src = "/tips.wav";
          au.play();

        }else if(data.res == "new_info"){
          message.show();
          layer.confirm("您有新的上报信息获得！",{
            btn:['开始处理','取消报警'],anim:6,title:'通知'
          },function () {
            location.href = '/designate/info_not_handle';
          },function (index) {
            layer.close(index);
            message.clear();  //取消闪烁
            clearInterval(get_msg_timer);
          });

          var au = document.createElement("audio");
          au.preload="auto";
          au.src = "/tips.wav";
          au.play();
        }
      },
      error:function(){

      }
    });
  }
//  var get_msg_timer = setInterval(get_msg,3000);

  /*function get_all_msg() {
    $.ajax({

      success:function(data){
        console.log(data);
       /!* var json = eval(data);
        if(json){
          for(var i = 0; i< 5 ;i++){
            $("#td"+(i+1)).html(json[i].name+':'+json[i].msg+"  ");
            $("#a"+(i+1)).attr('href',json[i].url);
            $("#a"+(i+1)).html("加入视频会议！");
        }*!/

            /!*var tr = $("<tr></tr>");
            var fir_td = $("<td></td>");
            var sec_td = $("<td></td>");
            sec_td.attr('style','text-align: left');
            fir_td.append(i+1);
            var url = $("<a></a>")
            url.attr('style','color:red');
            url.attr('href',json[i].url);
            url.attr('target','_blank');
            url.append("点击加入视频会议！");
            sec_td.append(json[i].name+':'+json[i].msg+"  ");
            sec_td.append(url);
            tr.append(fir_td);
            tr.append(sec_td);
            $("#msg").append(tr);*!/
        },
      error:function(){

      }
    });
  }*/
 // var get_all_msg_timer = setInterval(get_all_msg,4000);
</script>
<script>
  function open_meeting() {
    $.ajax({
      url:'/welcome/open_meeting',
      type :'get',
      dataType:'json',
      success:function(data){

      },
      error:function(){

      }
    });
  }
</script>