<style type="text/css">
	.zhipai{background: url(../../img/zp.png) no-repeat; display: block; width: 119px; height: 34px; text-align: center; line-height: 34px; font-size: 16px; color: white; margin-bottom: 10px;}
	.chuli{background: url(../../img/cl.png) no-repeat; display: block; width: 119px; height: 34px; text-align: center; line-height: 34px; font-size: 16px; color: white; margin-bottom: 10px;}
	.tq{ background: #72d0eb; border-top-left-radius: 4px; border-top-right-radius: 4px; text-align: center;}
	.tq span{ font-size: 1.4em; color: white; line-height: 88px;}
	.tq span b{ font-size: 3.4em; font-weight: normal;}
	.tq span sup{ font-size: 2.0em;}
	.tq p{ font-size: 1.4em;  color: white; margin: 0px;}
	.tq1{ background: #FFFFFF; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; text-align: center;}
	.tq1 span{ font-size: 1.4em; color: #72d0eb; line-height: 88px;}
	.tq1 span b{ font-size: 3.4em; font-weight: normal;}
	.tq1 p{ font-size: 1.4em;  color: #72d0eb; margin: 0px;}
	.xx{ background: url(../../img/index_xx.png) no-repeat -2px -5px;}
	.xxt{ font-size: 2.0em; color: white;}
    .demo-lx{text-align:center;text-decoration: blink}
    #msg tr td a{
      width: 300px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: red;
    }
    @media only screen and (min-width: 768px) and (max-width: 1200px){
      #msg tr td a{
        width:126px;
      }
    }
    @media only screen and (min-width: 1200px) and (max-width: 1400px){
      #msg tr td a{
        width:156px;
      }
    }
    @media only screen and (max-width: 375px) {
      #msg tr td a{
        width:50px;
      }
    }
    @media only screen and (max-width: 768px) {
      #msg tr td a{
        width:150px;
      }
    }

</style>
      <!-- BEGIN MAIN CONTENT -->
      <link href="/css/tasks.css" rel="stylesheet"><!-- TASK CSS-->
<script language="javascript" src="/js/public.js"></script>
      
      <section id="main-content">
	  <!-- BEGIN WRAPPER  -->
        <section class="wrapper site-min-height">
		  <!-- BEGIN ROW  -->
		  	<div class="zhipai js-zhipai">指派任务数</div>
          <div class="row state-overview js-zhipai">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count">
                    0
                  </h1>
                  <p>
                    未查看信息数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-wrench red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2">
                    0
                  </h1>
                  <p>
                    已指派事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-check-square yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3">
                    0
                  </h1>
                  <p>
                    未审核事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-bookmark-o purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">
                    0
                  </h1>
                  <p>
                    已完成事件数
                  </p>
                </div>
              </section>
            </div>
          </div>
		   <!-- END ROW  -->
		   <!--处理工作数 -->
		   <div class="chuli js-chuli">处理任务数</div>
          <div class="row state-overview js-chuli">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count">
                    0
                  </h1>
                  <p>
                    未处理事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-wrench red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2">
                    0
                  </h1>
                  <p>
                    正在处理事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-check-square yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3">
                    0
                  </h1>
                  <p>
                    已完成事件数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-bookmark-o purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">
                    0
                  </h1>
                  <p>
                    总任务数
                  </p>
                </div>
              </section>
            </div>
          </div>
		   <!--处理工作数-->
		   <div class="row">
          <div class="col-md-6">
          <!-- START PANEL -->
          <section class="panel">
                <div class="panel-body xx">
                  <a href="#" class="task-thumb xxt" >
                    5
                  </a>
                  <div class="task-thumb-details">
                    <h1>
                      <a href="#">
                        最新消息
                      </a>
                    </h1>
                    <p>
                      最新5条消息记录
                    </p>
                  </div>
                </div>
                <table class="table personal-task">
                  <tbody id="msg">
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </section>
          <!-- END PANEL -->
            </div>

            <div class="col-lg-6 col-md-6">
              <section class="panel">
                <div class="panel-body">
                  <a href="#" class="task-thumb">
                    <img src="<{$avatar}>" alt="">
                  </a>
                  <div class="task-thumb-details">
                    <h1>
                      <a href="#">
                        登录日志
                      </a>
                    </h1>
                    <p>
                      最新5条记录
                    </p>
                  </div>
                </div>
                <table class="table table-hover personal-task">
                  <tbody>
                    <{foreach $login as $item}>
                    <tr>
                      <td>
                        <{$item@iteration}>
                      </td>
                      <td>
                        <{$item.ip}>
                      </td>
                      <td>
                        <span class="badge bg-important">
                          <{$item.time}>
                        </span>
                      </td>
                    </tr>
                    <{/foreach}>
                  </tbody>
                </table>
              </section>
            </div>

          </div>
		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
		    <!-- BEGIN ROW  -->

		   <!-- END ROW  -->
        </section>
		<!-- END WRAPPER  -->
      </section>
      <!-- END MAIN CONTENT -->

<script src="/js/count.js"></script>
      <script src="/assets/morris.js-0.4.3/raphael-min.js" ></script><!-- MORRIS  JS -->
<script>
  get_all_msg();

  //获取历史记录消息
  function get_all_msg(){
    $.ajax({
      url:'/welcome/get_msg',
      type :'get',
      dataType:'json',
      success:function(data){
        if(data){
          var len = data.length;
          var list = '';
          for(var i = 0;i<len;i++){
            list += '<tr>';
            list += '<td></td>';
            switch(data[i].type){
              case '0':
                list += '<td><span class="label label-info">信息上报</span></td>';break;
              case '1':
                list += '<td><span class="label label-primary">事件指派</span></td>';break;
              case '2':
                list += '<td><span class="label label-danger">事件督办</span></td>';break;
            };
            list += '<td><a href="'+data[i].url+'">'+data[i].title+'</a></td>';
            list += '<td><span class="badge bg-important">'+timeToDate(data[i].time*1000)+'</span></td>';
          }
          $('#msg').html(list);
          reload_num();
        }else{
          $('#msg').html('<tr><td style="text-align: center">暂无历史消息</td></tr>')
        }

      }
    })
  }
</script>
<script>
  function open_meeting() {
    $.ajax({
      url:'/welcome/open_meeting',
      type :'get',
      dataType:'json',
      success:function(data){

      },
      error:function(){

      }
    });
  }
</script>