<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel" style="border-top: 2px solid #2a8ba7; border-radius:inherit;">    
                    <div class="panel-body">
                    	
		            	<div class="text-btn">
		            		<button class="btn btn-md upload"><img src="../../img/upload.png" />上传</button>
		            		<button class="btn btn-md del"><img src="../../img/del.png" />删除</button>
		            		<button class="btn btn-md send"><img src="../../img/send.png" />发送</button>
							<button class="btn btn-md btn-info add_search" onclick="search_files()">搜索</button>
	            			<input type="text"  class="file-search-text file-search"  placeholder="搜索你的文件" />
		            	</div>
                		
            			<div class="My_pan_title">全部文件<span style="float: right;">已全部加载，共<span class="all">3</span>个文件</span></div>
            			
            			<div class="My_pan_list">
						<table border='0' cellspacing="0" cellpadding="0" width="100%" class="file_name" >
							<thead>
								<tr>
									<th width="50%">
										<div class="choose_all">
											<input name="" type="checkbox" class="file-chexkbox all_choose" value="" />全选
										</div>
										文档名
									</th>
									<th width="10%">大小</th>
									<th width="30%">时间</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!--<tr>
									<td >
										<input name="" type="checkbox" class="file-chexkbox" value="" />
										<span class="file-file file-ex">e<i>x</i></span>
										你的多情出卖我的爱情赔了我的命.docx
									</td>
									<td>3.9M</td>
									<td >2016-12-6&nbsp;15:35:35</td>
									<td>
										<a href="" class="btn btn-info btn-sm">下載</a>
									</td>
								</tr>-->
							</tbody>
						</table>
            				
            			</div> 
            			
            			<ul class="my_pan_page">
							<li class="index"><a href="javascript:void(0)">首页</a></li>
							<li class="prev"><a href="javascript:void(0)">上一页</a></li>
							<li class="special"><input type="text" value="1">/<span class="total">12</span><a href="javascript: goto_page()">跳转</a></li>
							<li class="next"><a href="javascript:void(0)">下一页</a></li>
							<li class="last"><a href="javascript:void(0)">尾页</a></li>
            			</ul>
		            </div>
                </section>
            </div>
        </div>
    </section>
</section>
