<!-- BEGIN SIDEBAR -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/">
                    <i class="fa fa-dashboard">
                    </i>
                <span>
                  主页
                </span>
                </a>
            </li>
            <li class="sub-menu">
                <a id="report_parent" href="javascript:;">
                    <i class="fa fa-laptop">
                    </i>
                <span>
                 上报工作
                </span>
                <span class="label label-success span-sidebar">
                  2
                </span>
                </a>
                <ul class="sub">
                    <li id="want_report">
                        <a href="/Reporter/wantReport">
                            我要提交
                        </a>
                    </li>
                    <li id="report_recording">
                        <a href="/Reporter/reportRecording">
                            提交记录
                        </a>
                    </li>

                </ul>
            </li>
            <li class="sub-menu">
                <a id="designate_parent" href="javascript:;">
                    <i class="fa fa-book">
                    </i>
                <span>
                  指派工作
                </span>
                <span class="label label-info span-sidebar">
                  5
                </span>
                </a>
                <ul class="sub">
                    <li id="info_not_handle">
                        <a href="/designate/info_not_handle">
                            未确认信息
                        </a>
                    </li>
                    <li id="event_designate">
                        <a href="/designate/event_designate">
                            事件指派
                        </a>
                    </li>
                    <li id="event_search">
                        <a href="/designate/event_search">
                            事件跟踪
                        </a>
                    </li>
                    <li id="info_search">
                        <a href="/designate/info_search">
                            信息检索
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a id="handle_parent" href="javascript:;">
                    <i class="fa fa-cogs">
                    </i>
                <span>
                  处理工作
                </span>
                <span class="label label-primary span-sidebar">
                  3
                </span>
                </a>
                <ul class="sub">
                    <li id="wait_to_handle">
                        <a href="/handler/wait_to_handle">
                            待处理事件
                        </a>
                    </li>
                    <li id="doing_handle">
                        <a href="/handler/show_doing_list">
                            正在处理事件
                        </a>
                    </li>
                    <li id="done_list">
                        <a href="/handler/show_done_list">
                            已完成事件
                        </a>
                    </li>
                    <li id="search">
                        <a href="/handler/show_all_events">
                            事件检索
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu" >
                <a href="javascript:;" id="manage_parent">
                    <i class="fa fa-tasks">
                    </i>
                <span>
                  管理
                </span>
                <span class="label label-danger span-sidebar">
                  3
                </span>
                </a>
                <ul class="sub">
                    <li id="structure">
                        <a href="/handler/show_structure">
                            组织结构
                        </a>
                    </li>
                    <li id="my_info">
                        <a href="/handler/show_my_info">
                            个人信息
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            修改密码
                        </a>
                    </li>

                </ul>
            </li>

            <li class="sub-menu" >
                <a href="javascript:;" id="infos_parent">
                    <i class="fa fa-pencil">
                    </i>
                    <span>
                  上报信息管理
                </span>
                    <span class="label label-warning span-sidebar">
                  1
                </span>
                </a>
                <ul class="sub">
                    <li id="see_infos">
                        <a href="/admin/show_all_info">
                            上报信息查看
                        </a>
                    </li>

                </ul>
            </li>

            <li class="sub-menu" >
                <a href="javascript:;" id="events_parent">
                    <i class="fa fa-bullhorn">
                    </i>
                    <span>
                  事件管理
                </span>
                    <span class="label label-success span-sidebar">
                  1
                </span>
                </a>
                <ul class="sub">
                    <li id="see_events">
                        <a href="/admin/show_all_events">
                            事件信息查看
                        </a>
                    </li>

                </ul>
            </li>

            <li class="sub-menu" >
                <a href="javascript:;" id="">
                    <i class="fa fa-group">
                    </i>
                    <span>
                  组织结构管理
                </span>
                    <span class="label label-default span-sidebar">
                  1
                </span>
                </a>
                <ul class="sub">
                    <li id="">
                        <a href="#">
                            管理
                        </a>
                    </li>

                </ul>
            </li>

            <li class="sub-menu" >
                <a href="javascript:;" id="">
                    <i class="fa fa-gavel">
                    </i>
                    <span>
                  权限管理
                </span>
                    <span class="label label-inverse span-sidebar">
                  1
                </span>
                </a>
                <ul class="sub">
                    <li id="">
                        <a href="#">
                            权限操作
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="/Login/loginOut">
                    <i class="fa fa-user">
                    </i>
                <span>
                  注销
                </span>
                </a>
            </li>

        </ul>
    </div>
</aside>
<!-- END SIDEBAR -->

//添加active class
<script>
    $(document).ready(function () {
        var title = "#<{$active_title}>";
        var parent_title = "#<{$active_parent}>";
        $(title).addClass('active');
        $(parent_title).addClass('active');
    });
</script>