<link rel="stylesheet" href="../../../assets/bootstrap-fileupload/bootstrap-fileupload.css"/>
<link rel="stylesheet" href="../../../css/bootstrap-reset.css"/>
<style type="text/css">
    #name, #sex, #attribute, #Jurisdiction {
        border: none !important;
        text-indent: inherit !important;
        padding-left: 0px !important;
    }

    .submit {
        background: #72d0eb;
    }

    label {
        color: #000000;
        font-weight: bold;
    }

    .col-sm-11 {
        padding-left: 0px;
        padding-top: 7px;
    }

    .icon-title {
        line-height: 25px;
    }

    .icon-title img {
        margin-right: 5px;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class="icon-title"><strong><img src="/img/admin.png" width="25" height="25"/>个人中心</strong></span>
                    </header>
                    <div class="panel-body">
                        <form id="form1" class="form-horizontal tasi-form layui-form col-md-10"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-1 control-label">姓名</label>
                                <div class="col-xs-8 col-sm-11">
                                    <input value="<{$userinfo['name']}>" type="text" name="name" id="name" required
                                           lay-verify="required" placeholder="请输入姓名" autocomplete="off"
                                           class="form-control layui-input">
                                    <label class="error" id="name_error" style=" height: 15px;"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-1 control-label">性别</label>
                                <div class="col-xs-8 col-sm-11">
                                    <input type="radio" name="sex" value="1"/>男
                                    <input type="radio" name="sex" value="0"/>女
                                    <script>$('#form1')[0].sex.value = '<{$userinfo['
                                    sex
                                    ']}>';</script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-1 control-label">单位</label>
                                <div class="col-xs-8 col-sm-11">
                                    <{$userinfo['group_name']}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 col-sm-1 control-label">权限</label>
                                <div class="col-xs-8 col-sm-11">
                                    <{$userinfo['privilege']}>
                                </div>
                            </div>

                        </form>

                        <div class="col-md-2" style="text-align: center; padding-top:10px;">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail">
                                    <!--<img src="../../img/chose.png" alt="请统一上传蓝色证件照" id="avatar_img"> -->
                                    <img width="180" height="180" src="<{$userinfo['avatar']|default:'/img/chose.png'}>" alt="请统一上传蓝色证件照"
                                         id="avatar_img">
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail">
                                </div>
                                <div>
	                            <span class="btn">
	                              
	                              <input type="file" class="default" id="avatar">
	                              
	                            </span>
                                    <button id="avatar_sub" class="btn  submit"
                                            style="display:none; color: white; width: 100%;">确定上传
                                    </button>
                                </div>
                            </div>


                        </div>
                        <div style="clear: both;"></div>
                        <div class="text-center " style="margin-top: 10%;">
                            <button id="submit2" class="btn btn-lg col-sm-12 submit">保存</button>
                        </div>
                    </div>

                </section>

            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->
</section>
<script>
    $(function () {
        $('#submit2').click(function () {
            var name = $('#name').val(), err = $('#name_error');
            if (name == '') {
                err.html('请输入用户名！');
                err.show();
                return;
            } else {
                err.hide();
                $.post('/common/update_info', $('#form1').serialize(), function (d) {
                    if (d.res == 1) layer.msg('保存成功');
                    else alert(d.info);
                }, 'json');
            }
        });
        $('#avatar').on('change', function () {
            $('#avatar_sub').show();
            var file = this.files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                $('#avatar_img')[0].src = reader.result;
            }
            reader.readAsDataURL(file);
        });
        $('#avatar_sub').click(function () {
            var formData = new FormData();
            formData.append('avatar', $('#avatar')[0].files[0]);
            $.ajax({
                url: '/welcome/change_avatar',
                type: 'post',
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.res == 1) {
                        layer.msg("修改成功", {time: 1000});
                    }
                }
            });
        });
    });
</script>