<style>
	.detail_title{
		border-radius: 10px;
		border:1px solid #0099ee;
		display: inline-block;
		overflow: hidden;
	}
	.detail_title a{
		display: inline-block;
		padding: 10px 20px;

	}
	.detail_title a.active{
		background: #0099ee;
		color: #fff;
	}
	.data_detail_main p{
		text-indent: 2em;
		font-size: 16px;
	}
	.detail_list li{
		line-height: 30px;
	}
	.detail_list li a b{
		text-decoration: underline;
		font-style: normal;
		color: #7a7a7a;
	}
	.detail_list li a span{
		color: #AAAAAA;
		padding-left: 10px;
	}
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body clear">
                    	<div class="detail_title">
                    		<a href="" class="active">进入舆情快照</a>
							<a href="">浏览原始网页</a>
							<a href="">网页取证</a>
                    	</div>
                    	<div class="row" style="margin-top: 20px; font-size:16px; color: #000000;">
                    		<div class="col-md-4">
	                    		<p><b>文章来源：</b><a href="" style="text-decoration: underline; color: #5fc1f8;">作者：admin</a></p>
	                    	</div>
	                    	<div class="col-md-8">
	                    		<p><b>发布时间：</b><a href="" style="text-decoration: underline; color: #5fc1f8;">2016-12-17&nbsp;18:47:55</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>舆情热度：15.0（1/0）</p>
	                    		

	                    	</div>
	                    	<div class="col-md-8">
	                    		<p>文章来源：<span>相关舆情 </span><span>非负面</span></p>
	                    		

	                    	</div>
	                    	<div class="col-md-12">
	                    		<p>原文链接：<a href="">http://www.baodi.com</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>地域：重庆市</p>
	                    		

	                    	</div>
	                    	<div class="col-md-8">
	                    		<p>文章要素：<span style="color: #0099ee;">相关舆情 </span><span style="color: #8175c7;">非负面</span></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>关键词：委员</p>
	                    		

	                    	</div>
                    	</div>
                    	
                    </div> 
                    
                </section>
                <section class="panel">
                	<div class="panel-body clear">
						<div class="row" style="text-align: center;">
							<div class="col-md-12">
								<h3 style="color: #222222;">标题标题</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 data_detail_main">
								<p>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</p>
								
								<p>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</p>
							</div>
						</div>
                    </div> 
                </section>
                <section class="panel">
                	<div class="panel-body">
                		<div class="row">
                			<div class="col-md-6" style="border-right: 1px solid #DCDCDC;">
                				<h3  style="color: #222222;">转载信息</h3>
                				<ul class="detail_list">
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                					<li><a href=""><b>标题一标题一标题一 </b><span>(搜狐 2016-12-18  19：32：66)</span></a></li>
                				</ul>
                			</div>	
                			<div class="col-md-6">
                				<h3 style="color: #222222;">相关报道</h3>
                				<ul>
                					<li><a href="">暂无相关报道</a></li>
                				</ul>
                			</div>	
                		</div>
                	</div>
                </section>
            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

</section>