<style>
	.detail_title{
		border-radius: 10px;
		border:1px solid #0099ee;
		display: inline-block;
		overflow: hidden;
	}
	.detail_title a{
		display: inline-block;
		padding: 10px 20px;

	}
	.detail_title a.active{
		background: #0099ee;
		color: #fff;
	}
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body clear">
                    	<div class="detail_title">
                    		<a href="" class="active">进入舆情快照</a>
							<a href="">浏览原始网页</a>
							<a href="">网页取证</a>
                    	</div>
                    	<div class="row" style="margin-top: 20px;">
                    		<div class="col-md-4">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    	</div>
	                    	<div class="col-md-8">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-8">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-12">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-8">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
	                    	<div class="col-md-4">
	                    		<p>文章来源：<a href="">作者：admin</a></p>
	                    		

	                    	</div>
                    	</div>
                    	
                    </div> 
                    
                </section>
                <section class="panel">
                	<div class="panel-body clear">
						<div class="row" style="text-align: center;">
							<div class="col-md-12">
								<h3>标题标题</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p style="text-indent: 2em;">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</p>
								
								<p style="text-indent: 2em;">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
								</p>
							</div>
						</div>
                    </div> 
                </section>
                <section class="panel">
                	<div class="panel-body">
                		<div class="row">
                			<div class="col-md-6">
                				<h3>转载信息</h3>
                				<ul>
                					<li><a href="">标题一</a></li>
                					<li><a href="">标题一</a></li>
                					<li><a href="">标题一</a></li>
                					<li><a href="">标题一</a></li>
                					<li><a href="">标题一</a></li>
                					<li><a href="">标题一</a></li>
                				</ul>
                			</div>	
                			<div class="col-md-6">
                				<h3>相关报道</h3>
                				<ul>
                					<li><a href="">暂无相关报道</a></li>
                				</ul>
                			</div>	
                		</div>
                	</div>
                </section>
            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

</section>