<link rel="stylesheet" href="/css/yq_data.css">
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <!-- BEGIN WRAPPER  -->
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading clear" style="line-height: 34px;">
                        <div id="chonse_title">
                            <ul class="nav nav-tabs" role="tablist" id="from_where">
                                <li role="presentation" class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab" id="all_info">全部</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab" id="all_country">广告</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab" id="all_city">舆情</a></li>
                                <li role="presentation" ><a href="javascript:void(0)" role="tab" data-toggle="tab" id="all_coun">忽略</a></li>
                            </ul>
                        </div>
                        <div class="input-group file-search" style="float: right;">
                            <input type="text" class="search-input" placeholder="搜索标题、内容关键词" id="search_input"/>
                            <i class="fa fa-search btn-search"></i>
                        </div>
                    </header>
                    <div class="tab-content">
                        <!--country START-->
                        <div role="tabpanel" class="tab-pane active">
                            <div class="panel-body clear">
                                <div id="all_nav">
                                    <ul class="nav nav-tabs" role="tablist" id="what_type" >
                                        <li role="presentation" class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-list-ul"></i>全部</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-list-alt"></i>新闻</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-compress"></i>论坛</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-android"></i>博客</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-weibo"></i>微博</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-credit-card"></i>贴吧</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-apple"></i>微信</a></li>
                                        <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab"><i class="fa fa-ellipsis-h"></i>其他</a></li>
                                    </ul>
                                    <div>
                                        <span class="active" id="sort"><i class="fa fa-tasks"></i>按时间发布 <i class="fa fa-sort-amount-desc sort"></i></span>
                                    </div>
                                </div>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="all_type">
                                        <!-- Nav tabs -->
                                        <div id="nav_content" class="clear">
                                            <ul class="nav nav-tabs content_nav" role="tablist" id="how_show">
                                                <li role="presentation" class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab">显示全部</a></li>
                                                <li role="presentation"><a href="javascript:void(0)" role="tab" data-toggle="tab">只看标题</a></li>
                                            </ul>
                                            <div>
                                                <span class="all_total"></span>
                                                <!--<input type="checkbox" class="all_choose" />全选-->
                                                <!--<a href="/yuqing/yq_trash_list"  class="label label-info" >查看垃圾箱</a>-->
                                                <!--<a href="/yuqing/yq_block_list" class="label label-primary" >查看忽略库</a>-->
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane active" id="show_all">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--country END-->
                    </div>
                </section>

            </div>
        </div>
        </div>
        <!-- END WRAPPER  -->
    </section>
</section>
<script src="/js/public.js"></script>
<script src="/js/yq_record.js"></script>
<script src="/js/yq_common.js"></script>

