<!-- 管理员权限 START -->
<li class="sub-menu" >
    <a href="javascript:;" id="infos_parent">
        <i class="fa fa-pencil">
        </i>
                    <span>
                  上报信息管理
                </span>
    </a>
    <ul class="sub">
        <li id="see_infos">
            <a href="/admin/show_all_info">
                上报信息查看
            </a>
        </li>

    </ul>
</li>

<li class="sub-menu" >
    <a href="javascript:;" id="events_parent">
        <i class="fa fa-bullhorn">
        </i>
                    <span>
                  事件管理
                </span>
    </a>
    <ul class="sub">
        <li id="see_events">
            <a href="/admin/show_all_events">
                事件信息查看
            </a>
        </li>

    </ul>
</li>

<li class="sub-menu" >
    <a href="javascript:;" id="">
        <i class="fa fa-group">
        </i>
                    <span>
                  组织结构管理
                </span>
    </a>
    <ul class="sub">
        <li id="">
            <a href="#">
                管理
            </a>
        </li>

    </ul>
</li>

<li class="sub-menu" >
    <a href="javascript:;" id="">
        <i class="fa fa-gavel">
        </i>
                    <span>
                  权限管理
                </span>
    </a>
    <ul class="sub">
        <li id="">
            <a href="#">
                权限操作
            </a>
        </li>

    </ul>
</li>
<!-- 管理员权限 END -->