<!-- 文件系统 -->
<li class="sub-menu">
    <a href="javascript:;" id="file_parent">
        <i class="fa fa-file">
        </i>
        <span>
                  文件功能
                </span>

    </a>
    <ul class="sub">
        <li id="email_sys">
            <a href="/common/show_emails">
                邮件系统
            </a>
        </li>
        <li id="my_pan">
            <a href="/common/show_my_pan">
                我的私人云盘
            </a>
        </li>
        <{if in_array("2",$privilege)}>
        <li id="secret_file_record">
            <a href="/common/show_secret_record">
                涉密文件记录
            </a>
        </li>
        <{/if}>


    </ul>
</li>