<!-- 文件系统 -->
<li class="sub-menu">
    <a href="javascript:;" id="file_parent">
        <i class="fa fa-file">
        </i>
        <span>
            文件/通知 系统
        </span>
        <span class="label label-danger g-nav-filesys"></span>
    </a>
    <ul class="sub">
        <li id="email_sys">
            <a href="/common/show_emails">
                邮件/指令 系统
            </a>
        </li>
        <li id="my_pan">
            <a href="/common/show_my_pan">
                我的私人云盘
            </a>
        </li>
        <{if in_array("2",$privilege)}>
        <li id="secret_file_record">
            <a href="/common/show_secret_record">
                涉密文件记录
            </a>
        </li>
        <{/if}>
    </ul>
</li>
<script type="text/javascript">
    $(function(){
        $.ajax({
          url: "/common/get_unread_notice_num",
          type: "get",
          dataType: "json",
          success: function(data){
              if(data.unread_num){
                $('.g-nav-filesys').html(data.unread_num)
              }
          }
        })
    })
</script>