<!-- 指派权限组 -->
<li class="sub-menu">
    <a id="designate_parent" href="javascript:;">
        <i class="fa fa-book">
        </i>
                <span>
                  指派工作
                </span>

    </a>
    <ul class="sub">
        <li id="yq_has_rep">
            <a href="/yuqing/show_all_has_rep">
                舆情平台筛选
            </a>
        </li>
        <li id="yq_cfm_list">
            <a href="/yuqing/show_cfm_list">
                舆情筛选记录
            </a>
        </li>
        <li id="info_not_handle">
            <a href="/designate/info_not_handle">
                未确认信息
            </a>
        </li>
        <li id="event_designate">
            <a href="/designate/event_designate">
                事件指派
            </a>
        </li>
        <li id="event_search">
            <a href="/designate/event_search">
                事件跟踪
            </a>
        </li>
        <li id="info_search">
            <a href="/designate/info_search">
                信息检索
            </a>
        </li>
    </ul>
</li>