<!-- 文件系统 -->
<li class="sub-menu" >
    <a href="javascript:;" id="file_parent">
        <i class="fa fa-file">
        </i>
        <span>
                  文件功能
                </span>

    </a>
    <ul class="sub">
        <li id="file_trans">
            <a href="/common/show_emails">
                邮件系统
            </a>
        </li>
        <li id="my_pan">
            <a href="/common/show_my_pan">
                我的云盘
            </a>
        </li>

    </ul>
</li>

<!-- 用户信息 -->
<li class="sub-menu" >
    <a href="javascript:;" id="manage_parent">
        <i class="fa fa-cogs">
        </i>
                <span>
                  设置
                </span>

    </a>
    <ul class="sub">
        <li id="my_info">
            <a href="/welcome/show_my_info">
                个人信息
            </a>
        </li>
        <li id="change_psw">
            <a href="/welcome/show_change_psw">
                修改密码
            </a>
        </li>

    </ul>
</li>

<!-- 用户注销 -->
<li>
    <a href="/welcome/logout">
        <i class="fa fa-power-off">
        </i>
                <span>
                  注销
                </span>
    </a>
</li>

</ul>
</div>
</aside>
<!-- END SIDEBAR -->

<!-- 添加active class -->
<script>
    $(document).ready(function () {
        if("<{$active_title}>"){
            var title = "#<{$active_title}>";
            var parent_title = "#<{$active_parent}>";
            $(title).addClass('active');
            $(parent_title).addClass('active');
        }

    });
</script>