<!-- 舆情管控 -->
<li class="sub-menu">
    <a href="javascript:;" id="control_parent">
        <i class="fa fa-eye-slash"></i>
        <span>舆情管控</span>
    </a>
    <ul class="sub">
        <li id="http_control">
            <a href="/yq_control/http_control">
                链接管控
            </a>
        </li>
        <li id="domain_control">
            <a href="/yq_control/domain_control">
                域名管控
            </a>
        </li>
        <li id="ip_control">
            <a href="/yq_control/ip_control">
                IP管控
            </a>
        </li>
    </ul>
</li>