<!-- 上报权限组 -->
<li class="sub-menu">
    <a id="report_parent" href="javascript:;">
        <i class="fa fa-flag">
        </i>
                <span>
                 上报工作
                </span>

    </a>
    <ul class="sub">
        <li id="want_report">
            <a href="/Reporter/wantReport">
                我要提交
            </a>
        </li>
        <li id="yq_record">
            <a href="/yuqing/yq_record">
                舆情上报记录
            </a>
        </li>
        <li id="yq_data">
            <a href="/yuqing/yq_data">
                舆情筛选
            </a>
        </li>
        <li id="report_recording">
            <a href="/Reporter/reportRecording">
                提交记录
            </a>
        </li>

    </ul>
</li>