<!-- 处理权限组 -->
<li class="sub-menu">
    <a id="handle_parent" href="javascript:;">
        <i class="fa fa-file-text">
        </i>
                <span>
                  处理工作
                </span>

    </a>
    <ul class="sub">
        <li id="wait_to_handle">
            <a href="/handler/wait_to_handle">
                待处理事件
            </a>
        </li>
        <li id="doing_handle">
            <a href="/handler/show_doing_list">
                正在处理事件
            </a>
        </li>
        <li id="done_list">
            <a href="/handler/show_done_list">
                已完成事件
            </a>
        </li>
        <li id="search">
            <a href="/handler/show_all_events">
                事件检索
            </a>
        </li>
    </ul>
</li>