<!-- 视频会议 -->
<li class="sub-menu">
    <a href="javascript:;" id="file_parent">
        <i class="fa fa-video-camera">
        </i>
        <span>
            视频/通讯
        </span>
    </a>
    <ul class="sub">
        <li id="6m_page">
            <a href="/welcome/meeting" id="6m_parent">
                6M视频会议
            </a>
        </li>
        <{if in_array("2",$privilege)}>
        <li id="call">
            <a href="/Designate/call">
                呼叫管理
            </a>
        </li>
        <{/if}>
    </ul>
</li>