<link href="/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet">
<link href="/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
<!-- DATATABLE CSS -->
<link rel="stylesheet" href="/assets/data-tables/DT_bootstrap.css">

<!-- Common CSS -->
<link rel="stylesheet" href="/css/common.css">

<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class="label label-primary">IP管控</span>
                           <span class="tools pull-right">
                           <a href="javascript:;" title="刷新" class="fa fa-refresh"></a>
                           </span>
                    </header>
                    <div class="panel-body">

                        <form id="yuqing_control_form">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>名称:</label>
                                    <input type="text" class="form-control" id="alias" name="alias">
                                </div>
                                <div class="col-md-3">
                                    <label>控制IP:</label>
                                    <input type="text" class="form-control" id="control_ip" name="control_ip">
                                </div>

                                <div class="col-md-1 m-t-24">
                                    <button title="添加" type="submit" class="btn btn-info" id="commit-button">
                                        添加
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="yuqing_control_table">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>管控IP</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END ROW  -->
    </section>
</section>
<!-- END SECTION -->

<!-- VALIDATE JS  -->
<script src="/js/jquery.validate.min.js"></script>
<!-- DataTables -->
<script language="javascript" src="/assets/data-tables/jquery.dataTables.min.js"></script>
<script src="/assets/data-tables/dataTables.bootstrap.min.js"></script>

<!-- Page Script -->
<script language="javascript">

    // jq validate 插件初始化
    $.validator.setDefaults({
        submitHandler: function () {
            var layer_index = layer.load(2);
            commit_yuqing_control(layer_index);
        }
    });
    $().ready(function () {
        $("#yuqing_control_form").validate({
            rules: {
                alias: {required: true},
                control_ip: {required: true, ip: true}
            },
            messages: {
                alias: {required: "请输入名称"},
                control_ip: {required: "请输入控制IP", ip: "请输入正确的IP"}
            }
        });
    });

    //登陆表单提交
    function commit_yuqing_control(layer_index) {
        var alias = $("#alias").val();
        var control_ip = $("#control_ip").val();

        $.ajax({
            url: "/yq_control/ctl_ip?ctl_ip=" + control_ip + "&alias=" + alias,
            method: "get",
            dataType: 'json',
            success: function (data) {
                layer.close(layer_index);
                if (data.res == "1") {
                    layer.message(data.msg, {time: 1000});
                } else {
                    layer.message(data.msg, {anim: 6, time: 1000});
                }
            }
        });
    }


    $('#yuqing_control_table').dataTable({

        "searching": false,
        "bPaginate": true,
        "bProcessing": false,                //是否显示正在处理提示信息。
        "bLengthChange": true,
        "bFilter": true,                     //是否使用内置的过滤功能。
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "bStateSave": true,
        "iDisplayLength": 10,                //每页显示10条数据
        "aLengthMenu": [10, 25, 50, 100],
        "aaSorting": [4, "desc"],          //默认排序 第6,7列

        "bServerSide": true,
        "sAjaxSource": "/yq_control/show_ip_list",
        "sServerMethod": "POST",

        "aoColumns": [
            {
                "sTitle": "编号",
                "mData": "id",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "名称",
                "mData": "alias",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "管控IP",
                "mData": "value",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "添加时间",
                "mData": "time",
                'sClass': "text-center"
            },
            {
                "sTitle": "操作",
                "mData": "id",
                'sClass': "text-center",
                'orderable': false,
                "mRender": function (data) {
                    return "<a title='删除' onclick='del_rule(" + data + ")' href='javascript:;' class='btn btn-info btn-xs'>删除</a>";
                }
            }
        ],

        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            },
            "sZeroRecords": "暂无数据",
            "sSearch": "关键字:"
        }

    });


    //刷新表格
    jQuery(".panel .tools .fa-refresh").click(function () {
        $("#yuqing_control_table").DataTable().ajax.reload(null, false);
    });

    //删除管控
    function del_rule(rule_id) {
        layer.confirm('确认删除?', {title: '提示'}, function (index) {
            var layer_index = layer.load(2);
            $.ajax({
                url: "/yq_control/del_ip?rule_id=" + rule_id,
                method: "get",
                dataType: 'json',
                success: function (data) {
                    layer.close(layer_index);
                    if (data.res == "1") {
                        layer.msg(data.msg, {time: 1000});
                        $("#yuqing_control_table").DataTable().ajax.reload(null, false); //刷新表格
                    } else {
                        layer.msg(data.msg, {anim: 6});
                    }
                }
            });
            layer.close(index);
        });
    }
</script>