<link href="/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet">
<link href="/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
<!-- DATATABLE CSS -->
<link rel="stylesheet" href="/assets/data-tables/DT_bootstrap.css">

<style type="text/css">
    .examine_modal .modal-header{ background-color: rgb( 230, 70, 36) }
    .examine_modal .modal-title{ text-align: center; }
    .examine_modal .modal-body { max-height: 400px; overflow-y: auto;  }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class="label label-primary">涉密文件流转记录</span>
                        <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-refresh"></a>
                           </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="done_table">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>文件名</th>
                                    <th>邮件标题</th>
                                    <th>发布人</th>
                                    <th>打印总次数</th>
                                    <th>文件状态</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END ROW  -->

        <div class="modal fade examine_modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">打印记录</h4>
              </div>
              <div class="modal-body">
                <!-- 内容盒子 -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>
</section>
<!-- END SECTION -->

<!-- Load Plugin -->
<script language="javascript" src="/assets/data-tables/jquery.dataTables.min.js"></script>
<script src="/assets/data-tables/dataTables.bootstrap.min.js"></script>
<script src="/js/public.js"></script>

<!-- Page Script -->
<script>
    $('#done_table').dataTable({

        "bPaginate": true,
        "bProcessing": false,                //是否显示正在处理提示信息。
        "bLengthChange": true,
        "bFilter": true,                     //是否使用内置的过滤功能。
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "bStateSave": true,
        "iDisplayLength": 10,                //每页显示10条数据
        "aaSorting": [[6, "desc"]],          //默认排序 第6列

        "bServerSide": true,
        "sAjaxSource": "/common/get_secret_record",
        "sServerMethod": "POST",

//        "fnServerParams": function (aoData) { //发送额外参数
//            aoData.push({"name": "ip", "value": "<?php //echo $ip;?>//"});
//        },

        "aoColumns": [
            {
                "sTitle": "编号",
                "mData": "id",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "涉密文件名",
                "mData": "file_name",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "邮件标题",
                "mData": "title",
                'sClass': "text-center",
                'orderable': false

            },
            {
                "sTitle": "发布人",
                "mData": "name",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "打印总次数",
                "mData": "print_num",
                'sClass': "text-center",
                'orderable': false
            },
            {
                "sTitle": "文件状态",
                "mData": "is_exist",
                'sClass': "text-center",
                "mRender" : function (data){
                    return (data == 1) ? "<span class='label label-success'>存在</span>" : "<span class='label label-danger'>已删除</span>";
                },
                'orderable' : false
            },
            {
                "sTitle": "发布时间",
                "mData": "time",
                'sClass': "text-center",
                "mRender" : function (data){
                    return timeToDate(data*1000);
                }
            },
            {
                "sTitle": "操作",
                "mData": "id",
                'sClass': "text-center",
                'orderable': false,
                "mRender": function (data, type, all) {
                    var button = "";
                    if(all.is_exist == 1){
                        button += "<a title='查看' class='btn btn-info btn-xs printExamine' data-id="+ data +"><i class='fa fa-eye'>查看</i></a>&nbsp;&nbsp;";
                        button += "<a title='删除' class='btn btn-warning btn-xs del' data-id="+ data +"><i class='fa fa-trash-o'>删除</i></a>"
                    }else{
                        button += "<a title='查看' class='btn btn-info btn-xs printExamine' data-id="+ data +"><i class='fa fa-eye'>查看</i></a>";
                    }
                    return button;
                }
            }
        ],

        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            },
            "sZeroRecords": "暂无数据",
            "sSearch": "搜索:"
        }

    });

    //刷新表格
    jQuery(".panel .tools .fa-refresh").click(function () {
        $("#done_table").DataTable().ajax.reload(null, false);
    });


    $(function(){

        //查看按钮功能函数
        $('#done_table').delegate('.printExamine','click',function(){
            
            var id = $(this).data('id');

            $.ajax({
                url:'/common/get_print_record?fid='+id,
                type:'GET',
                dataType:'json',
                success:function(data){
                    if(data.length != 0){
                        $('.examine_modal').modal('show');
                        $('.examine_modal .modal-body').html('');
                        var list = '<ul class="list-group">';
                        for( var i=0 ;i<data.length;i++){
                            list += '<li class="list-group-item"><span class="badge">' + timeToDate(data[i].time*1000) + '</span>'+ data[i].name +'</li>';
                        }

                        list += '</ul>';

                        $('.examine_modal .modal-body').append(list);
                    }else{
                        layer.msg('暂无记录');
                    }
                }
            })
        })

        //删除文件
        $('#done_table').delegate('.del','click',function(){

            var id = $(this).data('id');

            var isClose = layer.confirm('删除后不可恢复，确认删除?',{shade:0.4,anim:3,icon: 3, title:'提示'},function(){
                $.ajax({
                    url:'/common/del_sec_att?fid='+id,
                    type:'GET',
                    dataType:'json',
                    success:function(data){
                        if(data == 1){
                            layer.msg('删除成功');
                            $("#done_table").DataTable().ajax.reload(null, false);
                        }else{
                            layer.msg('删除失败');
                            $("#done_table").DataTable().ajax.reload(null, false);
                        }
                    }
                })
                layer.close(isClose);
            });

        })

    })
</script>