<script src="/js/layerUI/layui.js" ></script>
<link href="/js/layerUI/css/layui.css"  rel="stylesheet">
<link rel="stylesheet" href="/css/ssi-uploader.min.css">
<link rel="stylesheet" href="/assets/ztree/zTreeStyle/zTreeStyle.css">
<!-- Jquery Tags Input CSS -->
<link rel="stylesheet" href="/assets/jquery-tags-input/jquery.tagsinput.min.css">
<style>
.inbox-divider{
	border-bottom: none;
}
@media only screen and (max-width:1024px ) {
	.modal-header{
		width: 25% !important;
		background: white;
		border-top: 2px solid #ef695e;
		color: #6a6a6a;
		border-radius: initial;
	}
}
.modal-header{
	width: 15%;
	background: white;
	border-top: 2px solid #ef695e;
	color: #6a6a6a;
	border-radius: initial;
}
.modal-content{
	 background: #e5e8ef;
}
.modal-body{
	background: white;
}	
.form-group{
	border-bottom: 1px solid #dddddd;
}
.form-horizontal .form-group{
	margin-left: 0;
}
.form-group input{
	border: none;
}
.control-label{
	/*text-decoration: underline;*/
	font-weight: 900 !important;
}
textarea{
	resize: none;
}
.btn-send, .btn-send:hover{
	background: #47a8c4;
}
.panel-body{ height: 450px; overflow-y: auto ;}
#pic{
    display: inline-block;
    width:40px;
    opacity: 0;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
</style>
	
<!-- BEGIN MAIN CONTENT -->
         <section id="main-content">
		 <!-- BEGIN WRAPPER  -->
            <section class="wrapper site-min-height">
               <div class="mail-box">
                  <aside class="sm-side">
				     <!-- INBOX HEADER -->
                     <div class="user-head">
                        <a href="javascript:;" class="inbox-avatar">
                        <img src="../../img/email-head.png" width="64" height="60" alt="">
                        </a>
                        <div class="user-name">
                           <h5><a href="#"><{$name}></a></h5>
                           <span><a href="#">pruthvi@tripzmate.com</a></span>
                        </div>

                     </div>
					 <!-- INBOX HEADER -->
                                                          
                  </aside>
                 
				  <aside class="lg-side">
                     <div class="inbox-head">
                        <h3>写邮件</h3>

                     </div>
                     
                  </aside>
                    
               </div>
               
               <div class="mail-box">
               	<aside class="sm-side" style="width: 10%; text-align: center;">
				    
					 <!-- INBOX BODY -->
                     <div class="inbox-body">
                        <a class="btn btn-compose" data-toggle="modal" href="#myModal" style="border-radius: 50% ; width: 60px; height:60px;">
                        <img src="../../img/write_email.png" width="30" />
                        </a>

                     </div>
					 <!-- INBOX HEADER -->
					 <!-- INBOX NAV -->
                     <ul class="inbox-nav inbox-divider">
                        <li>
                           <a href="#"><i class="fa fa-inbox"></i> </a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-envelope-o"></i> </a>
                        </li>
                        <li>
                           <a href="#"><i class=" fa fa-trash-o"></i></a>
                        </li>
                     </ul>                  
                  </aside>
                  
                  
                  <aside class="lg-side" style="width: 60%; background: #e5e8ef;">
                    
                     <div class="inbox-body" style="padding: initial;">
                     	                          
                              <div class="modal-content">
                                 <!--<div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">写邮件</h4>
                                 </div>-->
                                 <div class="modal-body">
                                    <form class="form-horizontal" role="form" enctype="multipart/form-data" id="email_form">
                                       <div class="form-group">
                                          <label class="col-lg-2 control-label" style="text-decoration: underline;">收件人</label>
                                          <div class="col-lg-10">
                                             <input type="text" class="form-control" id="inputEmail1" placeholder="" name="tags">
                                              <input type="hidden" id="receive_uid" name="user_id"/>
                                          </div>
                                       </div>
                                       
                                       <div class="form-group">
                                          <label class="col-lg-2 control-label">主题</label>
                                          <div class="col-lg-10">
                                             <input type="text" class="form-control" value="<{if isset($reply_title) }><{$reply_title}><{/if}>" id="inputPassword1" placeholder="" name="theme">
                                          </div>
                                       </div>
                                       <div class="form-group" style="border-bottom: none;">
                                          <div class="control-label">
                                              <input type="hidden" id="id" name="id"/>
                                              <span type="file"><i class="fa fa-paperclip"></i> 添加附件</span>
                                              <input name="file" class="fileinput-button" type="file" id="pic" multiple>
                                              <span class="btn btn-xs btn-info td_file">添加</span>
                                              <select name="level_choose" id="" style="float: right">
                                                  <option value="2">高优先级</option>
                                                  <option value="1">一般</option>
                                              </select>
                                              <div style="clear: both"></div>
                                              <table role="presentation" class="table table-striped">
                                                  <tbody id="pic_files"></tbody>
                                              </table>
				                           </div>
                                       </div>
                                       
                                       <div class="form-group" style="border-bottom: none;">                                          
                                          
                                             <textarea name="content_email" id="email-Message"  placeholder="输入你想说的话..." class="form-control" cols="30" rows="10"></textarea>
                                          
                                       </div>
                                       <div class="form-group" style="border-bottom: none;">
                                          <div class="col-lg-10"> 
                                             <span class="btn btn-md btn-info my_own" >发送</span>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                     </div>
                  </aside>
                 
                  <aside class="lg-side" style="width: 30%;">
                    
                     <div class="inbox-body" style="padding: 0;">
                        <div class="heading-inbox row">
                           <div class="col-md-12">
                              <h4 style="padding-bottom: 17px; text-align: center;">
                                组织关系
                                  <button class="btn btn-xs btn-danger" style="float: right;margin-right:10px;" onclick="add_tags()">添加</button>
                              </h4>
                           </div>
                        </div>
                        
                        <div class="panel-body">
                            <ul class="nav prod-cat ztree" id="show_struct">
                                组织关系……
                            </ul>
                        </div>
                        
                     </div>
                  </aside>
                  
               </div>
            </section>
			<!-- END WRAPPER  -->
         </section>
<script src="/js/ssi-uploader.min.js"></script>
<script src="/assets/ztree/jquery.ztree.all.min.js"></script>
<script src="/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="/js/jquery.validate.min.js"></script><!-- VALIDATE JS  -->
<script>
    var index,layedit;
    /**
     * Ztree && MultiSelect 插件
     */
    var onlineTree;

    var setting = {
        async: {
            enable: true,
            url: "/common/get_email_tree",
            autoParam: ["id", "name=n", "level=lv"]
            // dataFilter: filter
        },
        check:{
            autoCheckTrigger:false,
            chkStyle:"checkbox",
            enable: true,
            chkboxType:{ "Y": "ps", "N": "ps" }
        },
        callback:{
            onAsyncSuccess: zTreeOnAsyncSuccess,//异步加载完执行
        }
    };

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        //去掉组织结构的选择项
        var rootNode = onlineTree.getNodeByParam("id", 0, null);//得到组织结构树
        rootNode.nocheck = true;
        onlineTree.refresh();//更改属性后，刷新界面
    }
    //当节点选中时选择
    function zTreeCheck(event, treeId, treeNode) {
        if (treeNode.isdepartment == 1) {//个人
            treeNode.getParentNode().checked = false;
            //   console.log(treeNode.getParentNode());
        } else if (treeNode.isdepartment == 0) {//单位
            var children_arr = treeNode.children;
            for (var i in children_arr) {
                children_arr[i].checked = false;
            }
        }
        onlineTree.refresh();
    }
    onlineTree = $.fn.zTree.init($("#show_struct"), setting);
    function add_tags(){
        var nodes = onlineTree.getCheckedNodes();
        var arr_id = [];
        var arr_name = [];
        console.log(nodes);
        for(var i in nodes){
            if(nodes[i].isdepartment == 1){
                arr_id.push(nodes[i].id);
                arr_name.push(nodes[i].name);
                if (!$("#inputEmail1").tagExist(nodes[i].id+'-'+nodes[i].name)) {
                    $("#inputEmail1").addTag(nodes[i].id+'-'+nodes[i].name);
                }
            }

        }
        var arr2 = arr_id.join(',')
        $('#receive_uid').val(arr2)
    }
    $('#inputEmail1').tagsInput({
        width: 'auto',
        defaultText: "",
        delimiter: "_",
        interactive: false
    });


    //表单验证
    $(".my_own").click(function () {

    });

</script>
<script type="text/javascript">
	layui.use('layedit', function(){
        layedit = layui.layedit;
	index = layedit.build('email-Message',{
          uploadImage: {url: '/common/email_upload_img', type: 'post'}
      }); //建立编辑器
        $('.my_own').click(function(){
            $('#email-Message').text('');
            $('#email-Message').text(layedit.getContent(index));
            console.log($('#email-Message').text());
            if(!$('#receive_uid').val()){
                layer.msg('请选择收件人');
                return false;
            }
            if (!$('input[name="theme"]').val()) {
                layer.msg("主题不能为空");
                return false;
            }
            if (!$('#email-Message').text() || $('#email-Message').text() =='<br>') {
                layer.msg("描述内容不能为空");
                return false;
            }
            var att_id = [];
            $('.cancle-file').each(function(){
                att_id.push($(this).data('id'));
            })
            att_id = att_id.join(',');

            console.log($('input[name="theme"]'))
            $.ajax({
                url:'/common/write_email',
                dataType:'json',
                data:{
                    title:$('input[name="theme"]').val(),
                    body:$('#email-Message').val(),
                    priority_level:$('select[name="level_choose"]').val(),
                    uids:$('#receive_uid').val(),
                    attID:att_id
                },
                type:'POST',
                success:function(data){
                    if(data.res == 1){
                        layer.msg('发送成功')
                    }else{
                        layer.msg('发送失败')
                    }

                }
            })
        })
	});


    function getContent(msg){
        return msg;
    }
</script>
<script src="/js/cloud_disk.js"></script>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <span>开始</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}


</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.isPic) { %}
                    <img src="{%=file.url%}">
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                    <span>{%=file.name%}提交成功！</span>
        </td>
        <td>
            <button class="cancle-file" data-id="{%=file.id%}">取消上传</button>
        </td>
        <td>
        </td>
    </tr>
{% } %}


</script>
<script src="/js/upload_file/load-image.js"></script>
<script src="/js/upload_file/tmpl.js"></script>
<script src="/js/upload_file/vendor/jquery.ui.widget.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/upload_file/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/upload_file/jquery.fileupload-process.js"></script>
<script src="/js/upload_file/jquery.fileupload-validate.js"></script>
<script src="/js/upload_file/jquery.fileupload-ui.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/js/upload_file/jquery.fileupload-image.js"></script>
<!-- The main application script -->
<script src="/js/upload_file/w_email.js"></script>