<link rel="stylesheet" href="/assets/ztree/zTreeStyle/zTreeStyle.css">

<style>
    .inbox-body {
        background: #FFF;
    }

    #event-designate-form {
        background: #92cf5c;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">

        <div class="col-lg-4">
            选择处理人:
            <ul id="relation-tree" class="ztree"></ul>
        </div>

    </section>
</section>
<!-- END SECTION -->

<script src="/assets/ztree/jquery.ztree.all.min.js"></script>

<!-- Page Script -->
<script language="javascript">
    var treeObj;
    var setting = {
        check: {
            enable: true,
            chkboxType: {"Y": "", "N": ""}
        },
        async: {
            enable: true,
            url: "/designate/get_processor_tree",
            autoParam: ["id", "name=n", "level=lv"]
            // dataFilter: filter
        },
        callback: {
            // onClick: zTreeOnClick,
            onAsyncSuccess: zTreeOnAsyncSuccess,//异步加载完执行
            onCheck: zTreeCheck//当选中时执行
        }
    };

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        //去掉组织结构的选择项
        var rootNode = treeObj.getNodeByParam("id", 0, null);//得到组织结构树
        rootNode.nocheck = true;
        treeObj.refresh();//更改属性后，刷新界面
    }
    //当节点选中时选择
    function zTreeCheck(event, treeId, treeNode) {
        // console.log(treeNode)
        // console.log(treeNode.isdepartment);
        if (treeNode.isdepartment == 1) {//个人
            treeNode.getParentNode().checked = false;
            //   console.log(treeNode.getParentNode());
        } else if (treeNode.isdepartment == 0) {//单位
            var children_arr = treeNode.children;
            for (var i in children_arr) {
                children_arr[i].checked = false;
            }
        }
        treeObj.refresh();
    }
    treeObj = $.fn.zTree.init($("#treePartment"), setting);


</script>