<link href="/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet">
<link href="/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
<!-- DATATABLE CSS -->
<link rel="stylesheet" href="/assets/data-tables/DT_bootstrap.css">
<!-- Jquery Tags Input CSS -->
<link rel="stylesheet" href="/assets/jquery-tags-input/jquery.tagsinput.min.css">
<!-- Ztree CSS -->
<link rel="stylesheet" href="/assets/ztree/zTreeStyle/zTreeStyle.css">
<!-- Jquery file upload -->

<!-- JQUERY STEPY WIZARD CSS -->
<!--<link href="/css/jquery.stepy.css" rel="stylesheet">-->

<!-- Common CSS -->
<link rel="stylesheet" href="/css/common.css">

<style>
    #top_tabby {
        display: table;
        margin: 0 auto;
    }

    .error {
        font-size: 0.9em;
        color: #FF4500;
    }
</style>

<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN Table  -->
        <div class="panel-body" style="display: none" id="info_choose_table">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="info_is_handle_table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>来源</th>
                        <th>类别</th>
                        <th>上报人</th>
                        <th class="hidden-phone">上报时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Table  -->
        <!-- BEGIN Table  -->
        <div class="panel-body" style="display: none" id="event_choose_table">
            <div class="adv-table">
                <table class="display table table-bordered table-striped" id="event_table">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>首派人</th>
                        <th>等级</th>
                        <th>牵头人(单位)</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Table  -->
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span class="label label-primary">事件指派</span>
                    </header>
                    <div class="panel-body">
                        <div class="box-widget">
                            <div class="widget-head clearfix">
                                <div id="top_tabby" class="block-tabby ">
                                </div>
                            </div>
                            <div class="widget-container m-t-20">
                                <div class="widget-block">
                                    <div class="widget-content box-padding">
                                        <form id="designate-form" class=" form-horizontal left-align form-well">
                                            <fieldset title="事件信息">
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">标题</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input class="form-control" name="title" id="title" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">事件信息:</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type='text' id="info_id" class='tags' name="info_id">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a href="javascript:;" onclick="open_event_info_table();"
                                                           class="btn btn-info">点我选择</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">事件描述</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <textarea name="description" id="description" cols="60"
                                                                  rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="事件设置">
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">事件等级:</label>
                                                    <div class="col-md-2 col-sm-2">
                                                        <select type="text" class="form-control" id="rank" name="rank">
                                                            <option value="一般">一般</option>
                                                            <option value="重要">重要</option>
                                                            <option value="紧急">紧急</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">首回时间:</label>
                                                    <div class="col-md-2">
                                                        <div id="reply_time">
                                                            <div class="input-group input-small">
                                                                <input type="text"
                                                                       class="spinner-input form-control"
                                                                       maxlength="3"/>
                                                                <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                                    <button type="button"
                                                                            class="btn spinner-up btn-xs btn-default">
                                                                        <i class="fa fa-angle-up">
                                                                        </i>
                                                                    </button>
                                                                    <button type="button"
                                                                            class="btn spinner-down btn-xs btn-default">
                                                                        <i class="fa fa-angle-down">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label class="col-md-1 col-sm-1 control-label">分钟</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">关联事件:</br>
                                                        (从上方的表格中添加)</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type='text' id="relate_event" class='tags'
                                                               name="relate_event">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a href="javascript:;" onclick="open_relate_event_table();"
                                                           class="btn btn-info">点我选择</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-sm-2 control-label">参考文件上传:</label>
                                                    <input name="file" class="fileinput-button" type="file" id="file"
                                                           multiple>
                                                    <table role="presentation" class="table table-striped">
                                                        <tbody id="files"></tbody>
                                                    </table>
                                                </div>
                                            </fieldset>
                                            <fieldset title="选择处理人(单位)">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                              <span class="label label-primary">
                                                                 结构结构
                                                              </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                <ul class="nav prod-cat ztree" id="treePartment">
                                                                    数据加载中……
                                                                </ul>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                              <span class="label label-primary">
                                                                 操作
                                                              </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                <br/>
                                                                <br/>
                                                                <br/>
                                                                <br/>
                                                                <button type="button" id="btn-dealman"
                                                                        class="btn btn-primary btn-block">
                                                                    添加处理人或单位
                                                                </button>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                                <span class="label label-primary">
                                                                        已选处理人(单位)
                                                                </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                牵头人(单位)：<span id="con_qiantou"></span>
                                                                <input type="hidden" name="main_processor"
                                                                       id="input_con_qiantou"/>
                                                                <br/>
                                                                <br/>
                                                                <div>处理人(单位)<br/>(单击选择牵头人或单位，双击移除当前处理人或单位)</div>
                                                                <select name="select_con_dealman" class="multi-select"
                                                                        multiple="false" id="select_con_dealman"
                                                                        style="width: 100%; height: 120px;">
                                                                </select>
                                                                <input type="hidden" name="processor"
                                                                       id="input_con_dealman"/>
                                                                <!--<br/>-->
                                                                <!--<br/>-->
                                                                <!--<div>督办人(双击移除当前督办人)</div>-->
                                                                <!--<select name="watcher" class="multi-select"-->
                                                                <!--multiple="false" id="select_con_checkman"-->
                                                                <!--style="width: 100%; height: 120px;">-->
                                                                <!--</select>-->
                                                                <!--<input type="hidden" name="" id="input_con_checkman"/>-->
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset title="选择督办人">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                              <span class="label label-primary">
                                                                 选择督办人
                                                              </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                <ul class="nav prod-cat ztree" id="treeWatcher">
                                                                    数据加载中……
                                                                </ul>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                              <span class="label label-primary">
                                                                 操作
                                                              </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                <br/>
                                                                <br/>
                                                                <br/>
                                                                <button type="button" id="btn-checkman"
                                                                        class="btn btn-primary btn-block">
                                                                    添加督办人
                                                                </button>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <section class="panel">
                                                            <header class="panel-heading">
                                                                <span class="label label-primary">
                                                                        已选督办人
                                                                </span>
                                                            </header>
                                                            <div class="panel-body">
                                                                <div>督办人(双击移除当前督办人)</div>
                                                                <select name="watcher" class="multi-select"
                                                                        multiple="false" id="select_con_checkman"
                                                                        style="width: 100%; height: 120px;">
                                                                </select>
                                                                <input type="hidden" name="" id="input_con_checkman"/>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button type="button" class="finish btn btn-info btn-extend">完成</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- END ROW  -->
    </section>
</section>
<!-- END SECTION -->

<!-- DataTable -->
<script language="javascript" src="/assets/data-tables/jquery.dataTables.min.js"></script>
<script src="/assets/data-tables/dataTables.bootstrap.min.js"></script>
<!-- From Wizard -->
<script src="/js/jquery.stepy.js"></script><!-- JQUERY STEPY WIZARD JS  -->
<script src="/js/jquery.validate.min.js"></script><!-- VALIDATE JS  -->
<!-- Tags Input -->
<script src="/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
<!-- Spinner -->
<script src="/assets/fuelux/js/spinner.min.js"></script>
<!-- Ztree --->
<script src="/assets/ztree/jquery.ztree.all.min.js"></script>
<!-- Jquery File Upload -->

<!-- Public Function -->
<script language="javascript" src="/js/public.js"></script>

<!-- Page Script -->
<script language="javascript">

    //事件指派 表单
    $(function () {

        isReastContent();  //判断是否是改派页面

        $.validator.setDefaults({
            submitHandler: function () {
                var layer_index = layer.load(2);
                designate_form_commit(layer_index);
            }
        });
        $('#designate-form').stepy({
            backLabel: '上一步',
            nextLabel: '下一步',
            errorImage: false,
            block: true,
            description: false,
            legend: false,
            titleClick: true,
            titleTarget: '#top_tabby',
            validate: true
        });
        $('#designate-form').validate({
            rules: {
                'title': 'required',
                'info_id': 'required',
                'main_processor': 'required',
                'processor': "required"
            },
            messages: {
                'title': {
                    required: '请填写标题'
                },
                'info_id': {
                    required: '请添加事件信息'
                },
                'main_processor': {
                    required: '请指定牵头人(单位)'
                },
                'processor': {
                    required: '请选择处理人'
                }
            }
        });

        // tags input 插件

        // 事件信息ID
        $('#info_id').tagsInput({
            width: 'auto',
            defaultText: "",
            delimiter: "_",
            interactive: false
        });
        // 关联事件ID
        $('#relate_event').tagsInput({
            width: 'auto',
            defaultText: "",
            delimiter: "_",
            interactive: false
        });

        // spinner 插件
        $('#reply_time').spinner({
            value: ""
        });


        //DataTable 表格
        $('#info_is_handle_table').dataTable({
            "bPaginate": true,
            "bProcessing": false,                //是否显示正在处理提示信息。
            "bLengthChange": false,
            "bFilter": true,                     //是否使用内置的过滤功能。
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bStateSave": true,
            "iDisplayLength": 5,                //每页显示5条数据
            "aaSorting": [[6, "desc"]],          //默认排序 第6列

            "bServerSide": true,
            "sAjaxSource": "/designate/info_is_handle_data",
            "sServerMethod": "POST",

            "aoColumns": [
                {
                    "sTitle": "编号",
                    "mData": "id",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "标题",
                    "mData": "title",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "来源",
                    "mData": "source",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "类别",
                    "mData": "type",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "上报人",
                    "mData": "publisher",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "上报时间",
                    "mData": "time",
                    'sClass': "text-center",
                    "mRender": function (data) {
                        return timeToDate(data * 1000);
                    }
                },
                {
                    "sTitle": "操作",
                    "mData": "id",
                    'sClass': "text-center",
                    'orderable': false,
                    "mRender": function (data, type, all) {
                        return "<a title='查看' target='_blank' href='/designate/info_detail?id=" + data + " ' class='btn btn-info btn-xs'>查看</a>&nbsp;" +
                                "<a title='添加' href='javascript:;' onclick='add_event_info(" + all.id + ",\"" + encodeURI(all.title) + "\")' class='btn btn-success btn-xs'>添加</a>";
                    }
                }
            ],

            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "暂无数据",
                "sSearch": "搜索:"
            }

        });
        $("#event_table").dataTable({

            "bPaginate": true,
            "bProcessing": false,                //是否显示正在处理提示信息。
            "bLengthChange": false,
            "bFilter": true,                     //是否使用内置的过滤功能。
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false,
            "bStateSave": true,
            "iDisplayLength": 5,                //每页显示10条数据
            "aaSorting": [[5, "desc"], [6, "desc"]],          //默认排序 第6,7列

            "bServerSide": true,
            "sAjaxSource": "/designate/event_search_data",
            "sServerMethod": "POST",

            "aoColumns": [
                {
                    "sTitle": "编号",
                    "mData": "id",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "标题",
                    "mData": "title",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "首派人",
                    "mData": "manager",
                    'sClass': "text-center",
                    'orderable': false
                },
                {
                    "sTitle": "等级",
                    "mData": "rank",
                    'sClass': "text-center",
                    'orderable': false,
                    "mRender": function (data) {
                        switch (data) {
                            case '一般':
                                return "<button class='btn btn-primary btn-xs'>一般</button>";
                                break;
                            case '重要':
                                return "<button class='btn btn-warning btn-xs'>重要</button>";
                                break;
                            case '紧急':
                                return "<button class='btn btn-danger btn-xs'>紧急</button>";
                                break;
                        }

                    }
                },
                {
                    "sTitle": "牵头人(单位)",
                    "mData": "main_processor",
                    'sClass': "text-center",
                    'orderable': false,
                    "mRender": function (data, type, full) {
                        if (data == null) {
                            return full.main_group;
                        }
                        return data;
                    }
                },
                {
                    "sTitle": "开始时间",
                    "mData": "start_time",
                    'sClass': "text-center",
                    "mRender": function (data) {
                        return timeToDate(data * 1000);
                    }
                },
                {
                    "sTitle": "结束时间",
                    "mData": "end_time",
                    'sClass': "text-center",
                    "mRender": function (data) {
                        if (data == null) {
                            return "";
                        } else {
                            return timeToDate(data * 1000);
                        }
                    }
                },
                {
                    "sTitle": "状态",
                    "mData": "state",
                    'sClass': "text-center",
                    'orderable': false,
                    "mRender": function (data) {
                        switch (data) {
                            case '未指派':
                                return "<button class='btn btn-info btn-xs'>未指派</button>";
                                break;
                            case '已指派':
                                return "<button class='btn btn-primary btn-xs'>已指派</button>";
                                break;
                            case '未审核':
                                return "<button class='btn btn-warning btn-xs'>未审核</button>";
                                break;
                            case '已完成':
                                return "<button class='btn btn-success btn-xs'>已完成</button>";
                                break;
                        }
                    }
                },
                {
                    "sTitle": "操作",
                    "mData": "id",
                    'sClass': "text-center",
                    'orderable': false,
                    "mRender": function (data, type, all) {
                        return "<a title='查看' target='_blank' href='/common/event_detail?eid=" + data + " ' class='btn btn-info btn-xs'>查看</a>&nbsp;<br>"
                                + "<a title='添加' href='javascript:;' onclick='add_relate_event(" + all.id + ",\"" + encodeURI(all.title) + "\")' class='btn btn-success btn-xs'>添加</a>";
                    }
                }
            ],

            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "暂无数据",
                "sSearch": "关键字:"
            }

        });
    });
    
    //判断是否是改派页面
    function isReassignment () {
        if (window.location.search !== ''){

            var searchArr = window.location.search.split('&');
            var eid = window.location.search.split('&')[0].slice(5); //获取eid
            var type = window.location.search.split('&')[1].slice(5); //获取类型

            if ( type === "reset"){ //改派页面
                return eid;
            }
        }
    }
    
    //改派页面填充内容
    function isReastContent () {
        var eid = isReassignment();

        if( eid !== '' || eid !== undefined || eid !== null){
            $.ajax({
                type: 'GET',
                url: '/designate/get_designate_info?eid=' + eid,
                dataType: 'json',
                success:function (data) {
                    console.log(data);
                    $('#title').val( data.title);
                    for ( var i = 0 ; i < data.info_list.length; i++){
                        var tag = "#" + data.info_list[i].id + "-" + data.info_list[i].title;
                        if (!$("#info_id").tagExist(tag)) {
                            $("#info_id").addTag(tag);
                        }
                    }
                    $('#description').val( data.description);
                    $('#rank').val( data.rank);
                    $('.spinner-input').val(data.replay_time)

                    for ( var j = 0 ; j < data.relate_list.length; j++){
                        var tag = "#" + data.relate_list[j].id + "-" + data.relate_list[j].title;
                        if (!$("#relate_event").tagExist(tag)) {
                            $("#relate_event").addTag(tag);
                        }
                    }
                }
            })
        }
    }


    //弹出确认信息表格
    function open_event_info_table() {
        $("#info_is_handle_table").DataTable().ajax.reload(null, false);
        layer.open({
            type: 1,
            title: "已确认信息列表",
            closeBtn: 1,
            shadeClose: true,
            area: "800px",
            content: $('#info_choose_table')
        });
    }

    //弹出关联事件表格
    function open_relate_event_table() {
        $("#event_table").DataTable().ajax.reload(null, false);
        layer.open({
            type: 1,
            title: "事件列表",
            closeBtn: 1,
            shadeClose: true,
            area: "850px",
            content: $('#event_choose_table')
        });
    }

    //添加事件信息
    function add_event_info(id, title) {
        var e = new RegExp('_', "g");
        title = decodeURI(title);
        title = title.replace(e, ' ');
        var tag = "#" + id + "-" + title;
        if (!$("#info_id").tagExist(tag)) {
            $("#info_id").addTag(tag);
        }
    }

    //添加关联事件
    function add_relate_event(id, title) {
        var e = new RegExp('_', "g");
        title = decodeURI(title);
        title = title.replace(e, ' ');
        var tag = "#" + id + "-" + title;
        if (!$("#relate_event").tagExist(tag)) {
            $("#relate_event").addTag(tag);
        }
    }

    /**
     * 获取info_id
     * @return string
     */
    function get_info_id() {
        var info_id = $("#info_id").val();
        var tag_arr = info_id.split("_");
        var id = [];
        for (i in tag_arr) {
            var id_reg = /^#(\d+)/.exec(tag_arr[i]);
            id.push(id_reg[1]);
        }
        return id.join(",");
    }

    /**
     * 获取relate_event
     * @return string
     */
    function get_relate_event() {
        var info_id = $("#relate_event").val();
        if (info_id == "") {
            return "";
        }
        var tag_arr = info_id.split("_");
        var id = [];
        for (i in tag_arr) {
            var id_reg = /^#(\d+)/.exec(tag_arr[i]);
            id.push(id_reg[1]);
        }
        return id.join(",");
    }

    /**
     * 指派表单提交
     */
    function designate_form_commit(layer_index) {
        var title = $("#title").val();
        var info_id = get_info_id();
        var description = $("#description").val();
        var rank = $("#rank").val();
        var reply_time = $("#reply_time").spinner("value");
        var relate_event = get_relate_event();
        var processor = $("#input_con_dealman").val();
        var main_processor = $("#input_con_qiantou").val();
        var watcher = $("#input_con_checkman").val();

        if (reply_time && reply_time < 10) {
            layer.msg("首回时间最小为10分钟", {anim: 6, time: 1000});
            layer.close(layer_index);
            return false;
        }

        $.ajax({
            url: "/designate/commit_event_designate",
            method: "post",
            dataType: 'json',
            data: {
                "title": title,
                "info_id": info_id,
                "description": description,
                "rank": rank,
                "reply_time": reply_time,
                'relate_event': relate_event,
                'processor': processor,
                'main_processor': main_processor,
                'watcher': watcher,
                'attachment': window.FILES
            },
            success: function (data) {
                layer.close(layer_index);
                if (data == "1") {
                    layer.msg("指派成功", {anim: 0, time: 1000}, function () {
                        refresh();
                    });
                } else {
                    layer.msg("操作失败", {anim: 6, time: 1000});
                }
            }
        });

        var eid = isReassignment();
        if( eid !== '' && eid !== null && eid !== undefined){
            $.ajax({
                type: 'GET',
                url: "/designate/del_desi_info?eid=" + eid,
                dataType: 'json',
                success: function (){

                },
                error:function() {
                    layer.msg("改派失败", {anim: 6, time: 1000});
                }
            })
        } 
        
    }

    /**
     * Ztree && MultiSelect 插件
     * 选择处理人  督办人 和 牵头人(单位)
     */
    var processorTree;
    var watcherTree;

    var setting1 = {
        check: {
            enable: true,
            chkboxType: {"Y": "", "N": ""}
        },
        async: {
            enable: true,
            url: "/designate/get_processor_tree",
            autoParam: ["id", "name=n", "level=lv"]
            // dataFilter: filter
        },
        callback: {
            // onClick: zTreeOnClick,
            onAsyncSuccess: zTreeOnAsyncSuccess,//异步加载完执行
            onCheck: zTreeCheck//当选中时执行
        }
    };

    var setting2 = {
        check: {
            enable: true,
            chkboxType: {"Y": "ps", "N": "ps"}
        },
        async: {
            enable: true,
            url: "/designate/get_watcher_tree",
            autoParam: ["id", "name=n", "level=lv"]
            // dataFilter: filter
        }
    };

    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {
        //去掉组织结构的选择项
        var rootNode = processorTree.getNodeByParam("id", 0, null);//得到组织结构树
        rootNode.nocheck = true;
        processorTree.refresh();//更改属性后，刷新界面
    }
    //当节点选中时选择
    function zTreeCheck(event, treeId, treeNode) {
        // console.log(treeNode)
        // console.log(treeNode.isdepartment);
        if (treeNode.isdepartment == 1) {//个人
            treeNode.getParentNode().checked = false;
            //   console.log(treeNode.getParentNode());
        } else if (treeNode.isdepartment == 0) {//单位
            var children_arr = treeNode.children;
            for (var i in children_arr) {
                children_arr[i].checked = false;
            }
        }
        processorTree.refresh();
    }
    processorTree = $.fn.zTree.init($("#treePartment"), setting1);
    watcherTree = $.fn.zTree.init($("#treeWatcher"), setting2);

    //添加处理人或单位
    $("#btn-dealman").click(function () {
        var nodes = processorTree.getCheckedNodes(true);//获取到被选中的集成
        $("#con_qiantou").html("");       //重置牵头人(单位)
        $("#input_con_qiantou").val("");
        $("#input_con_dealman").val(""); //重置处理人(单位列表)
        $("#select_con_dealman").html("");
        if (nodes.length == 0) {//没有选中
            layer.msg("请选择处理人", {anim: 0, time: 1000});
            return false;
        }
        //默认第一个为牵头人或单位
        //提交的值为  department_id
        if ($("#input_con_qiantou").val() == '') {//假如牵头人为空时
            $('#con_qiantou').html(nodes[0].name);
            $("#input_con_qiantou").val(nodes[0].isdepartment + "_" + nodes[0].id);
        }
        //得到现在已经有的值
        for (var i in nodes) {
            var i_value = nodes[i].isdepartment + "_" + nodes[i].id,
                    i_name = nodes[i].name;
            //没有找到则添加到处理人中
            if ($("#input_con_dealman").val().indexOf(i_value) === -1) {
                if ($("#input_con_dealman").val() == '') {
                    $("#input_con_dealman").val(i_value)
                } else {
                    $("#input_con_dealman").val($("#input_con_dealman").val() + "," + i_value)
                }
                $("#select_con_dealman").append('<option value="' + i_value + '">' + i_name + '</option>');
            }
        }
    });

    //添加督办人
    $("#btn-checkman").click(function () {
        var nodes = watcherTree.getCheckedNodes(true);//获取到被选中的集成
        //得到现在已经有的值
        for (var i in nodes) {
            if (nodes[i].isdepartment == 0 || nodes[i].id == 0) {//如果是部门或者根节点则不进行下面操作
                continue;
            }
            var i_value = nodes[i].isdepartment + "_" + nodes[i].id,
                    i_name = nodes[i].name;
            //没有找到则添加
            if ($("#input_con_checkman").val().indexOf(i_value) === -1) {
                if ($("#input_con_checkman").val() == '') {
                    $("#input_con_checkman").val(i_value)
                } else {
                    $("#input_con_checkman").val($("#input_con_checkman").val() + "," + i_value)
                }
                $("#select_con_checkman").append('<option value="' + i_value + '">' + i_name + '</option>');
            }
        }
    });

    //单击选择牵头人
    $("#select_con_dealman").click(function () {
        //如果是多选的话，取第一个
        var se_option = $("#select_con_dealman option:selected:first");
        $("#input_con_qiantou").val(se_option.val());
        $("#con_qiantou").html(se_option.text())
    });

    //双击处理人情况
    $("#select_con_dealman").dblclick(function () {
        //如果是多选的话，取第一个
        var se_option = $("#select_con_dealman option:selected:first"),
                i_value = se_option.val();
        if (i_value == $("#input_con_qiantou").val()) {//如果删除的是牵头人或单位
            $("#input_con_qiantou").val('')
            $("#con_qiantou").html('')
        }
        //移掉option的值
        $("#select_con_dealman option[value='" + i_value + "']").remove();
        var input_con_dealman = $("#input_con_dealman").val(),
                arr_dealman = input_con_dealman.split(','),
                new_input_value = "";
        for (var i in arr_dealman) {
            if (arr_dealman[i] != i_value) {
                new_input_value += arr_dealman[i] + ',';
            }
        }
        new_input_value = new_input_value.slice(0, -1);
        $("#input_con_dealman").val(new_input_value)

    });
    //双击督办人
    $("#select_con_checkman").dblclick(function () {
        //如果是多选的话，取第一个
        var se_option = $("#select_con_checkman option:selected:first"),
                i_value = se_option.val()
        //移掉option的值
        $("#select_con_checkman option[value='" + i_value + "']").remove();
        var input_con_checkman = $("#input_con_checkman").val(),
                arr_checkman = input_con_checkman.split(','),
                new_input_value = "";
        for (var i in arr_checkman) {
            if (arr_checkman[i] != i_value) {
                new_input_value += arr_checkman[i] + ',';
            }
        }
        new_input_value = new_input_value.slice(0, -1);
        $("#input_con_checkman").val(new_input_value)

    })

</script>

<!-- jQuery File Upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <span>开始</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}






</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
        </td>
        <td>
            <p class="name">
                    <span>{%=file.name%}提交成功！</span>
        </td>
        <td>
            <button class="cancle-file" data-url="{%=file.url%}">取消上传</button>
        </td>
    </tr>
{% } %}






</script>
<script src="/js/upload_file/tmpl.js"></script>
<script src="/js/upload_file/vendor/jquery.ui.widget.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/upload_file/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/js/upload_file/jquery.fileupload-process.js"></script>
<script src="/js/upload_file/jquery.fileupload-validate.js"></script>
<script src="/js/upload_file/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/js/upload_file/event.js"></script>