<link rel="stylesheet" href="/css/common.css">
<style>
    .inbox-body {
        background: #FFF;
    }

    .form-inbox {
        border-top: 1px solid #dddddd;
        padding-top: 10px;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="inbox-head">
            <h3>事件详情</h3>
        </div>
        <div class="inbox-body">
            <div class="heading-inbox row">
                <div class="col-md-12">
                    <h4>
                        <{$event['title']}>
                    </h4>
                </div>
            </div>
            <div class="sender-info">
                <div class="row">
                    <div class="col-md-12">
                        <p class="col-md-4"><strong>首派人:</strong><span>&nbsp;<{$event['manager']}></span></p>
                        <p class="col-md-4"><strong>事件等级:</strong><span>&nbsp;<{$event['rank']}></span></p>
                        <{if $event['reply_time'] == ''}>
                        <p class="col-md-4"><strong>首回时间:</strong><span>&nbsp;不限制</span></p>
                        <{else}>
                        <p class="col-md-4"><strong>首回时间:</strong><span>&nbsp;<{$event['reply_time']}></span></p>
                        <{/if}>
                        <{if $event["main_processor"] != ''}>
                        <p class="col-md-4"><strong>牵头人:</strong><span>&nbsp;<{$event['main_processor']}></span></p>
                        <{/if}>
                        <{if $event["main_group"] != ''}>
                        <p class="col-md-4"><strong>牵头单位:</strong><span>&nbsp;<{$event['main_group']}></span></p>
                        <{/if}>
                        <p class="col-md-4"><strong>状态:</strong><span>&nbsp;<{$event['state']}></span></p>
                        <p class="col-md-4"><strong>开始时间:</strong><span>&nbsp;<{date("Y-m-d H:i:s",$event['start_time'])}></span></p>
                        <{if $event["end_time"] != ''}>
                        <p class="col-md-4"><strong>结束时间:</strong><span>&nbsp;<{date("Y-m-d H:i:s",$event['end_time'])}></span></p>
                        <{/if}>
                    </div>
                </div>
            </div>
            <div class="event-content">
                <p class="col-md-12">
                    <span><strong>关联事件:</strong></span>
                    <{foreach $event["relate_event"] AS $r}>
                    <a target="_blank" href="/designate/event_detail?eid=<{$r['id']}>"><span
                            class="label label-default"><{$r['title']}></span></a>
                    <{foreachelse}>
                    无
                    <{/foreach}>
                </p>
                <p class="col-md-12"><strong>事件描述:</strong></p>
                <p class="col-md-12"><{$event['description']}></p>
            </div>
            <div class="attachment-event">
                <p>
                    <span><i class="fa fa-paperclip"></i> <{count($event['attachment'])}> 个参考文件 </span>
                </p>
                <ul>
                    <{foreach $event["attachment"] AS $attach}>
                    <li>
                        <a class="atch-thumb" href="/welcome/attachment_download?id=<{$attach['id']}>">
                            <span><{$attach['name']}></span>
                        </a>
                    </li>
                    <{/foreach}>
                </ul>
            </div>
            <div class="event-info">
                <label class="label label-primary">事件信息:</label>
                <{foreach $event['info'] AS $info}>
                <section class="panel">
                    <header class="panel-heading">
                        <span class="label label-primary"><{$info['title']}></span>
                           <span class="tools pull-right">
                               <a href="javascript:;" class="fa fa-chevron-up"></a>
                           </span>
                    </header>
                    <div class="panel-body" info-id="<{$info['id']}>" style="display: none"></div>
                </section>
                <{/foreach}>
            </div>
        </div>
        <input type="hidden" name="event_id" id="event_id" value="<{$event['id']}>">
    </section>
</section>
<!-- END SECTION -->

<!-- Public Script -->
<script src="/js/public.js"></script>

<!-- Page Script -->
<script language="javascript">

    $('.panel .tools .fa-chevron-up').click(function () {
        var el = jQuery(this).parents(".panel").children(".panel-body");
        if (jQuery(this).hasClass("fa-chevron-down")) {
            jQuery(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
            el.slideUp(200);
        } else {
            jQuery(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
            var info_id = el.attr("info-id");
            var event_id = $("#event_id").val();
            if(el.html() === ""){
                get_info_content(event_id, info_id, el);
            }
            el.slideDown(200);
        }
    });


    //获取事件信息内容
    function get_info_content(event_id, info_id, info_box) {
        $.ajax({
            type: "POST",
            data: {"event_id": event_id, "info_id": info_id},
            url: "/welcome/get_event_info",
            success: function (data) {
                var info =
                        '<div class="sender-info">' +
                        '<div class="row">' +
                        '<div class="col-md-12">' +
                        (data.hasOwnProperty("publisher") ? '<p class="col-md-4">&nbsp;<strong>上报人:</strong><span>' + data.publisher + '</span></p>' : "") +
                        '<p class="col-md-4">&nbsp;<strong>类型:</strong><span>' + data.type + '</span></p>' +
                        '<p class="col-md-4">&nbsp;<strong>链接:</strong><span>' + data.url + '</span></p>' +
                        '<p class="col-md-4">&nbsp;<strong>来源:</strong><span>' + data.source + '</span></p>' +
                        '<p class="col-md-4">&nbsp;<strong>发布时间:</strong><span>' + timeToDate(data.time * 1000) + '</span></p>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="info-content">' +
                        '<p><strong>信息描述:</strong></p>' +
                        '<p>' + data.description + '</p>' +
                        '</div>' +
                        '<div class="attachment-info">' +
                        '<div class="info_des_img col-md-12"></div>' +
                        '<div class="info_des_video col-md-12"></div>'+
                        '</div>';
                info_box.html(info);

                //循环图片和视频
                var info_list_img = '<h2>图片描述</h2>';    //图片
                var info_list_video = '<h2>视频描述</h2>';  //视频
                if(!data.attachment.length){
                    info_list_img = '<p class="col-md-12">暂无图片描述</p>';
                    info_list_video = '<p class="col-md-12">暂无视频描述</p>'
                }
                for(var i=0;i<data.attachment.length;i++){
                    if(data.attachment[i].type == 'pic'){
                        info_list_img += '<p class="col-md-6"><img src="'+data.attachment[i].url+'" width="100%" onclick="enlarge_pic(this)"></p>';
                    }
                    if(data.attachment[i].type == 'video'){
                        info_list_video += '<video src="'+data.attachment[i].url+'" width="100%" controls="controls" class="col-md-6"></video>';
                    }
                }
                $('.info_des_img').append(info_list_img);
                $('.info_des_video').append(info_list_video);
            }
        });
    }
    //点击信息描述图片放大图片
    function enlarge_pic(that){
        var str = '';
            str += '<div class="Mongolia" onclick="close_Mongolia()">';
            str += '<div class="Mongolia_content">';
            str += '<img src="'+that.src+'"/>';
            str += '<span class="fa fa-times" aria-hidden="true" onclick="close_Mongolia()"></span>';
            str += '</div>';
            str += '</div>';
        $('body').append(str);
    }

    //关闭按钮函数
    function close_Mongolia(){
        $('.Mongolia').remove();
    }
</script>