<section id="main-content">
    <section class="wrapper site-min-height">
        <!-- BEGIN ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-hand-o-down"></i>
                        <span class="label label-primary">事件追踪</span>
                    </header>
                    <div class="panel-body" style="display: block;">
                        <ul class="timeline">
                            <li class="centering-line"></li>
                            <!-- BEGIN TIME CAT-->
                            <li class="center-timeline-cat">
                                <div class="inner">
                                    2016年3月
                                </div>
                                <!-- /.inner -->
                            </li>
                            <!-- END TIME CAT-->
                        </ul>
                        <ul class="timeline">
                            <!-- BEGIN CENTERING LINE -->
                            <li class="centering-line"></li>
                            <!-- END CENTERING LINE -->


                            <!--&lt;!&ndash; BEGIN POST FORM &ndash;&gt;-->
                            <!--<li class="item-timeline post-form-timeline">-->
                                <!--<div class="buletan"></div>-->
                                <!--<div class="inner-content">-->
                                    <!--<ul class="nav nav-tabs">-->
                                        <!--<li class="active"><a href="#fakelink"><i class="fa fa-comment"></i></a></li>-->
                                        <!--<li><a href="#fakelink"><i class="fa fa-quote-left"></i></a></li>-->
                                        <!--<li><a href="#fakelink"><i class="fa fa-picture-o"></i></a></li>-->
                                    <!--</ul>-->
                                    <!--<form class="m-t-1" role="form">-->
                                        <!--<p>-->
                                            <!--<textarea placeholder="Write something on your timeline"-->
                                                      <!--class="form-control h-75"></textarea>-->
                                        <!--</p>-->
                                        <!--<p class="text-right">-->
                                            <!--<button class="btn btn-primary btn-sm" type="submit">Post</button>-->
                                        <!--</p>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; /.inner-content &ndash;&gt;-->
                            <!--</li>-->
                            <!--&lt;!&ndash; END POST FORM &ndash;&gt;-->


                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawker
                                                <small>2016年3月11日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END HEADING TIMELINE -->
                                    <p>
                                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                        lectorum. Mirum est notare quam littera gothicaLorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Nulla ac nisi purus. Aliquam eget suscipit ligula..
                                    </p>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label bg-primary m-l-xs">Like</a></li>
                                                            <li><a class="label label-info">Comment</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 25 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 3 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="Write your comment..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-2.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">Chintan</a></strong>
                                                        Kowe ki ngomong opo to jane?<br>
                                                        angger gawe status kok nganggo boso sing marai aku ra mudheng to
                                                        nduk-nduk
                                                    </p>
                                                    <p class="text-muted reply-time">3 hours ago</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-3.jpg">
                                                <div class="reply">
                                                    <p>
                                                        <strong><a class="label bg-success m-l-xs">Parth</a></strong>
                                                        Walopun aku ora mudheng kowe nulis opo,
                                                        cintaku tetep padamu kok cah ayu, ai lopyu pull pokoke...
                                                    </p>
                                                    <p class="text-muted reply-time">4 hours ago</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->
                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawker
                                                <small>2016年3月22日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <blockquote>
                                        Life is short, art is long, typography is everything, code is poetry
                                        <small>by <cite title="Someone">Sara Cannon</cite></small>
                                    </blockquote>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label bg-primary m-l-xs">Like</a></li>
                                                            <li><a class="label label-info">Comment</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 254 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="Write your comment..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->
                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADING TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawker
                                                <small>2016年3月26日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END HEADING TIMELINE -->
                                    <h4>Responsive video iframe (Vimeo)</h4>
                                    <p>
                                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                        lectorum. Mirum est notare quam littera gothica
                                    </p>
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label bg-primary m-l-xs">Like</a></li>
                                                            <li><a class="label label-info">Comment</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 2 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 1 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <strong><a class="label bg-success m-l-xs">Chintan</a></strong> and
                                                <strong><a class="label bg-success m-l-xs">Jay</a></strong>
                                                like this
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="Write your comment..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-4.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">bhavin</a></strong>
                                                        Rolasan sek mbakyu, ora mung onlen terus</p>
                                                    <p class="text-muted reply-time">Yesterday at 01:47 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->

                            <!-- BEGIN TIME CAT-->
                            <li class="center-timeline-cat">
                                <div class="inner">
                                    2016年4月
                                </div>
                                <!-- /.inner -->
                            </li>
                            <!-- BEGIN END CAT-->

                            <!-- BEGIN ITEM TIMELINE -->
                            <li class="item-timeline">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <!-- BEGIN HEADINg TIMELINE -->
                                    <div class="heading-timeline">
                                        <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                        <div class="user-timeline-info">
                                            <p>
                                                Paris Hawker
                                                <small>2016年4月3日</small>
                                            </p>
                                        </div>
                                        <!-- /.user-timeline-info -->
                                    </div>
                                    <!-- /.heading-timeline -->
                                    <!-- END ITEm TIMELINE -->
                                    <h4>Responsive images</h4>
                                    <p>
                                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                        lectorum. Mirum est notare quam littera gothica
                                    </p>
                                    <!-- END IMAGE WRAP -->
                                    <!-- BEGIN FOOTER TIMELINE -->
                                    <div class="footer-timeline">
                                        <ul class="timeline-option">
                                            <li class="option-row">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <ol>
                                                            <li><a class="label bg-primary m-l-xs">Like</a></li>
                                                            <li><a class="label label-info">Comment</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                    <div class="col-xs-6 text-right">
                                                        <ol>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-thumbs-up text-success"></i> 124 </span></a>
                                                            </li>
                                                            <li><a class="btn btn-white"> <span class="text"> <i
                                                                    class="fa fa-comments text-info"></i> 26 </span></a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <!-- /.col-xs-6 -->
                                                </div>
                                                <!-- /.row -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <form role="form">
                                                        <input type="text" placeholder="Write your comment..."
                                                               class="form-control input-sm">
                                                    </form>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <strong><a href="#fakelink"><i class="fa fa-comments"></i> View 22 more
                                                    comments</a></strong>
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-1.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">Bhavesh</a></strong>
                                                        Woh, kok ketoe gayeng tenan kui acarane nduk?
                                                    </p>
                                                    <p class="text-muted reply-time">3 hours ago</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-2.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">Bhavin</a></strong>
                                                        wah, aku telat oleh informasine je,
                                                        malah tabrakan karo jadwalku manggung karo Sera ning mbantul
                                                        wingi kae
                                                    </p>
                                                    <p class="text-muted reply-time">March 18, 2014 at 11:45 AM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-3.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">Dharesh</a></strong>
                                                        do ra tau ngabari aku nek ono acara ngene iki cah-cah,
                                                        aku sedih bingit kie lah :(
                                                    </p>
                                                    <p class="text-muted reply-time">March 16, 2014 at 01:45 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                            <li class="option-row">
                                                <img alt="Avatar" class="avatar" src="/img/avatar/avatar-4.jpg">
                                                <div class="reply">
                                                    <p><strong><a class="label bg-success m-l-xs">jai</a></strong> kok
                                                        potoku ora ono ki?</p>
                                                    <p class="text-muted reply-time">March 16, 2014 at 01:05 PM</p>
                                                </div>
                                                <!-- /.reply -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.footer-timeline -->
                                    <!-- END FOOTER TIMELINE -->
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END ITEM TIMELINE -->


                            <!-- BEGIN HIGHLIGHT TIMELINE MOMENT -->
                            <li class="item-timeline highlight text-center">
                                <div class="buletan"></div>
                                <div class="inner-content">
                                    <h2 class="text-info"><i class="fa fa-flag-checkered"></i></h2>
                                    <h4>事件处理完成</h4>
                                    <p class="text-muted">2016年4月3日</p>
                                </div>
                                <!-- /.inner-content -->
                            </li>
                            <!-- END HIGHLIGHT TIMELINE MOMENT -->
                            
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <!-- END ROW  -->
    </section>
</section>
<!-- END SECTION -->