<link rel="stylesheet" href="/css/common.css">
<script src="/js/ZeroClipboard.min.js"></script>

<style>
    .inbox-body {
        background: #FFF;
    }

    .form-inbox {
        border-top: 1px solid #dddddd;
        padding-top: 10px;
    }
    .copy_btn{
        margin-left:10px;
    }
    .sender-info p{
        word-break: break-all;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="inbox-head">
            <h3>信息详情</h3>
        </div>
        <div class="inbox-body">
            <div class="heading-inbox row">
                <div class="col-md-12">
                    <h4>
                        <{$info['title']}>
                    </h4>
                </div>
            </div>
            <div class="sender-info">
                <div class="row">
                    <div class="col-md-12">
                        <p class="col-md-4"><strong>上报人:</strong><span><{$info['publisher']}></span></p>
                        <p class="col-md-4"><strong>类型:</strong><span><{$info['type']}></span></p>
                        <p class="col-md-4"><strong>来源:</strong><span><{$info['source']}></span></p>
                        <p class="col-md-4"><strong>发布时间:</strong><span><{date("Y-m-d H:i:s",$info['time'])}></span></p>
                        <p class="col-md-4"><strong>链接:</strong><span id="clip_1">
                            <{$info['url']}></span>
                            <button class="btn btn-xs btn-success copy_btn"  id="clip_yijian" data-clipboard-target="clip_1">复制</button>
                            <span id="repeat_warning" class="col-md-12" style="display:none;color: red;font-size: 12px;">
                                注意:该链接已经有人提交过了</span>
                        </p>
                </div>

                  <!--  <p class="col-md-12" style="line-height: 40px;">
                        <strong>链接:</strong>
                        <span id="clip_1"><{$info['url']}></span>
                        <button class="btn btn-sm btn-success copy_btn"  id="clip_yijian" data-clipboard-target="clip_1">一键复制到粘贴板</button>
                    </p>-->


            </div>
            <div class="info-content">
                <p><strong>信息描述:</strong></p>
                <p><{$info['description']}></p>
            </div>
            <div class="attachment-info">
                <div class="row">
                    <div class="info_des_img col-md-12"><h2>图片描述</h2>
                        <{foreach $info['attachment'] AS $attachment}>
                        <{if $attachment["type"] == 'pic'}>
                        <p class="col-md-6"><img width="100%" src="<{$attachment['url']}>"></p>
                        <{/if}>
                        <{/foreach}>
                    </div>

                    <div class="info_des_video col-md-12"><h2>视频描述</h2>
                        <{foreach $info['attachment'] AS $attachment}>
                        <{if $attachment["type"] == 'video'}>
                        <video src="<{$attachment['url']}>" width="100%" controls="controls" class="col-md-6"></video>
                        <a class="btn btn-primary" href="/common/video_download?id=<{$attachment['id']}>">下载视频</a>
                        <{/if}>
                        <{/foreach}>
                    </div>
                </div>
            </div>

            <{if $info['state'] != 2}>
            <div class="form-inbox row">
                <div class="shadow-line"></div>
                <div class="col-md-3">
                    <label for="type">信息类型:</label>
                    <select name="type" id="type" class="form-control">
                        <{foreach $type AS $t}>
                        <option value="<{$t['id']}>"><{$t['name']}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>
                        这条信息重复了?
                    </label>
                    <div class="m-t-5">
                        <input type="radio" name="duplicate" value="0" checked>不是
                        <input type="radio" name="duplicate" value="1">是
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="source">来源:</label>
                    <input type="text" class="form-control" id="source" name="source" value="<{$info['source']}>">
                </div>

                <div class="col-md-3 m-t-25">
                    <a href="javascript:void(0);" id="commit-info-btn" class="btn btn-sm btn-info"><i
                            class="fa fa-right"></i> 确认</a>
                </div>
            </div>
            <{/if}>
                <input type="hidden" name="id" id="info_id" value="<{$info['id']}>">
        </div>
    </section>
</section>
<!-- END SECTION -->

<!-- Public Script -->
<script src="/js/public.js"></script>
<!-- Page Script -->
<script language="javascript">
    //检查url是否重复
    function check_url_repeat() {
        var url = "<{$info['url']}>";
        var id = $("#info_id").val();
        $.ajax({
            type: "POST",
            data: {"url": url,"id":id},
            dataType:'json',
            url: "/designate/check_url",
            success: function (data) {
                if(data.res == '1'){
                    $("#repeat_warning").css('display','block');
                    var dup_arr = data.dup_id.split(',');
                    $("#repeat_warning").append('<br>');
                    $("#repeat_warning").append('重复信息查看:');
                    for(var i = 0;i <dup_arr.length;i++){
                        $("#repeat_warning").append("<a target='_blank' href='/designate/info_detail?id="+dup_arr[i]+"'>"+dup_arr[i]+"</a>"+"&nbsp;");
                    }
                    if(typeof $("input[name = 'duplicate']")[1] != 'undefined'){
                        $("input[name = 'duplicate']")[1].checked = true;
                    }

                }else {
                    if (typeof $("input[name = 'duplicate']")[0] !='undefined') {
                        $("input[name = 'duplicate']")[0].checked = true;
                    }

                }
            }
        });

    }
    check_url_repeat();

    var client_yijian = new ZeroClipboard($('#clip_yijian'));

    $("#commit-info-btn").click(function () {
        layer.confirm('确认后不可修改', {icon: 3, title: '提示'}, function (index) {
            var id = $("#info_id").val();
            var type = $('select#type option:selected').val();
            var duplicate = $('input:radio:checked').val();
            var source = $('#source').val();
            var layer_index = layer.load(2);
            $.ajax({
                type: "POST",
                data: {"id": id, "type": type, "duplicate": duplicate, "source": source},
                url: "/designate/commit_info",
                success: function (data) {
                    layer.close(layer_index);
                    if (data == "1") {
                        layer.msg("操作成功", {anim: 0, time: 1000}, function () {
                            forward("/designate/info_not_handle");
                        });
                    } else {
                        layer.msg("操作失败", {anim: 6});
                    }
                }
            });
            layer.close(index);
        });
    });
</script>