<link rel="stylesheet" href="/assets/ztree/zTreeStyle/zTreeStyle.css">

<style>
    .inbox-body{
        background: #FFF;
    }
    #event-designate-form{
        background: #92cf5c;
    }
</style>
<!-- BEGIN MAIN CONTENT -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="inbox-head">
            <h3>事件详情</h3>
        </div>
        <div class="inbox-head" id="event-designate-form">
            <h3>组织结构</h3>
        </div>
        <div class="inbox-body">
            <ul id="relation-tree" class="ztree"></ul>
        </div>
        <input type="hidden" name="event_id" value="1">
    </section>
</section>
<!-- END SECTION -->

<script src="/assets/ztree/jquery.ztree.all.min.js"></script>

<!-- Page Script -->
<SCRIPT LANGUAGE="JavaScript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"交通部", open:true, children:[
            {name:"部门1"}, {name:"部门2"}]},
        {name:"组织部", open:true, children:[
            {name:"组织部1"}, {name:"组织部2"}]}
    ];
    $(document).ready(function(){
        zTreeObj = $.fn.zTree.init($("#relation-tree"), setting, zNodes);
    });
</SCRIPT>